::-moz-focus-inner {
border:0;
padding:0;
margin:0
}

.pagination-bot { margin-top:  30px; }
.pagination-bot a { border: 1px solid #CCC;  padding:  2px 7px; color: #444;  font-size: 14px; border-radius: 2px;}
.pagination-bot a:hover { background:  #00BA8B;; text-decoration: none;}
.pagination-bot strong { padding:  2px 7px; color: #FFF;  font-size: 14px; border-radius: 2px; background: #086; }

.da-button {
	display:inline-block;
	border:0;
	outline:0;
	font:12px/17px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding:4px 12px;
	margin:0;
	width:auto;
	cursor:pointer;
	text-decoration:none;
	zoom:1;
	overflow:hidden;
	color:#fff;
	border:1px solid;
	text-shadow:1px 1px rgba(0,0,0,0.35);
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-appearance:none;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.35);
	-o-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.35);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.35);
	box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.35);
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.da-button.left {
	float:left
}
.da-button.small {
	padding:2px 8px
}
.da-button.large {
	padding:6px 16px
}
.da-button:active {
	background-image:none!important;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,1);
	-o-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,1)
}
.da-button:disabled {
	background-image:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#dadada;
	background-color:#f8f8f8;
	border-color:#ddd;
	cursor:default
}
.da-button img {
	margin:0 2px;
	max-width:16px;
	max-height:16px
}
.da-button.blue {
	background-color:#61a4e4;
	background-image:linear-gradient(bottom, #61a4e4 0, #78b4ec 100%);
	background-image:-o-linear-gradient(bottom, #61a4e4 0, #78b4ec 100%);
	background-image:-moz-linear-gradient(bottom, #61a4e4 0, #78b4ec 100%);
	background-image:-webkit-linear-gradient(bottom, #61a4e4 0, #78b4ec 100%);
	background-image:-ms-linear-gradient(bottom, #61a4e4 0, #78b4ec 100%);
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #61a4e4), color-stop(1, #78b4ec));
	border-color:#21629c
}
.da-button, .da-button.green {
	background-color:#a7d037;
	background-image:linear-gradient(bottom, #a7d037 0, #c8e342 100%);
	background-image:-o-linear-gradient(bottom, #a7d037 0, #c8e342 100%);
	background-image:-moz-linear-gradient(bottom, #a7d037 0, #c8e342 100%);
	background-image:-webkit-linear-gradient(bottom, #a7d037 0, #c8e342 100%);
	background-image:-ms-linear-gradient(bottom, #a7d037 0, #c8e342 100%);
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #a7d037), color-stop(1, #c8e342));
	border-color:#779625
}
.da-button.red {
	background-color:#e15656;
	background-image:linear-gradient(bottom, #e15656 0, #f77272 100%);
	background-image:-o-linear-gradient(bottom, #e15656 0, #f77272 100%);
	background-image:-moz-linear-gradient(bottom, #e15656 0, #f77272 100%);
	background-image:-webkit-linear-gradient(bottom, #e15656 0, #f77272 100%);
	background-image:-ms-linear-gradient(bottom, #e15656 0, #f77272 100%);
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #e15656), color-stop(1, #f77272));
	border-color:#bb2929
}
.da-button.pink {
	background-color:#ea799b;
	background-image:linear-gradient(bottom, #ea799b 0, #eea3bc 100%);
	background-image:-o-linear-gradient(bottom, #ea799b 0, #eea3bc 100%);
	background-image:-moz-linear-gradient(bottom, #ea799b 0, #eea3bc 100%);
	background-image:-webkit-linear-gradient(bottom, #ea799b 0, #eea3bc 100%);
	background-image:-ms-linear-gradient(bottom, #ea799b 0, #eea3bc 100%);
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #ea799b), color-stop(1, #eea3bc));
	border-color:#b04264
}
.da-button.gray {
	background-color:#e3e3e3;
	background-image:linear-gradient(bottom, #e3e3e3 0, #f9f9f9 100%);
	background-image:-o-linear-gradient(bottom, #e3e3e3 0, #f9f9f9 100%);
	background-image:-moz-linear-gradient(bottom, #e3e3e3 0, #f9f9f9 100%);
	background-image:-webkit-linear-gradient(bottom, #e3e3e3 0, #f9f9f9 100%);
	background-image:-ms-linear-gradient(bottom, #e3e3e3 0, #f9f9f9 100%);
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #e3e3e3), color-stop(1, #f9f9f9));
	color:#666;
	text-shadow:1px 1px rgba(0,0,0,0.1);
	border-color:#9e9e9e
}
.da-button.orange {
	background-color:#fab341;
	background-image:linear-gradient(bottom, #fab341 0, #ffcb72 100%);
	background-image:-o-linear-gradient(bottom, #fab341 0, #ffcb72 100%);
	background-image:-moz-linear-gradient(bottom, #fab341 0, #ffcb72 100%);
	background-image:-webkit-linear-gradient(bottom, #fab341 0, #ffcb72 100%);
	background-image:-ms-linear-gradient(bottom, #fab341 0, #ffcb72 100%);
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #fab341), color-stop(1, #ffcb72));
	border-color:#cc731e
}
.da-highlight {
	color:#d44d24
}
::-webkit-input-placeholder {
color:#999
}
:-moz-placeholder {
color:#999
}
.placeholder {
	color:#999
}
a {
	color:#73991f;
	text-decoration:none;
	outline:0
}
a:hover {
	text-decoration:underline
}
::-moz-selection {
color:#fff;
background:#a9ca60
}
::selection {
	color:#fff;
	background:#a9ca60
}
div#da-wrapper {
	height:auto;
	min-height:100%;
	position:relative;
	min-width:320px
}
div#da-wrapper, div#da-wrapper.fluid {
	width:100%
}
div#da-wrapper .da-container, div#da-wrapper.fluid .da-container {
	width:96%;
	margin:auto
}
div#da-wrapper.fixed {
	min-width:960px
}
div#da-wrapper.fixed .da-container {
	width:960px
}
div#da-header {
	z-index:200;
	position:relative
}
div#da-header #da-header-top {
	position:relative
}
div#da-header #da-header-top #da-logo-wrap {
	float:left
}
div#da-header #da-header-top #da-logo {
	width:230px;
	height:55px;
	display:table-cell;
	vertical-align:middle
}
div#da-header #da-header-top #da-logo-img img {
	max-width:230px;
	max-height:55px
}
div#da-header #da-header-top #da-header-toolbar {
	float:right;
	border-left:1px solid #161616;
	border-left:1px solid rgba(0,0,0,0.6)
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile, div#da-header #da-header-top #da-header-toolbar #da-header-button-container {
	float:left;
	position:relative
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile {
	border-left:1px solid #535353;
	border-left:1px solid rgba(255,255,255,0.2);
	border-right:1px solid #161616;
	border-right:1px solid rgba(0,0,0,0.6);
	padding:0 12px;
	cursor:pointer;
	background:url(../images/user-drop-arrow.png) no-repeat right center;
	padding-right:24px
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile #da-user-avatar, div#da-header #da-header-top #da-header-toolbar #da-user-profile #da-user-info {
	float:left
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile #da-user-avatar {
	height:32px;
	padding:12px 0;
	margin-right:12px
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile #da-user-avatar img {
	max-width:32px;
	max-height:32px
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile #da-user-info {
	font-size:12px;
	color:#fff;
	line-height:1;
	padding:13px 0;
	font-weight:bold;
	position:relative
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile #da-user-info .da-user-title {
	color:#eaeaea;
	font-size:11px;
	margin-top:6px;
	font-weight:normal;
	display:block
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container {
	border-left:1px solid #535353;
	border-left:1px solid rgba(255,255,255,0.2);
	padding:10px 0 10px 7px
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul {
	margin-bottom:0
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li {
	margin-left:0;
	list-style:none
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.da-header-button {
	float:left;
	display:block;
	width:36px;
	height:36px;
	margin-left:4px;
	position:relative;
	background:url(../images/toolbar-button.png) no-repeat center top
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.da-header-button.active {
	background-position:center bottom
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.da-header-button.active>a {
	margin-top:1px
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.da-header-button>a {
	text-decoration:none;
	text-indent:-99999px;
	display:block;
	margin:auto;
	cursor:pointer;
	width:36px;
	height:36px;
	outline:0;
	background-position:center center;
	background-repeat:no-repeat
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.notif.da-header-button>a {
	background-image:url(../images/icons/white/16/alert_2.png)
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.message.da-header-button>a {
	background-image:url(../images/icons/white/16/message_small.png)
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.logout.da-header-button>a {
	background-image:url(../images/icons/white/16/off_small.png)
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.da-header-button span.da-button-count {
	position:absolute;
	color:#fff;
	left:100%;
	margin-left:-12px;
	top:-4px;
	font-size:10px;
	display:block;
	padding:4px;
	line-height:1;
	z-index:250;
	min-width:10px;
	text-align:center;
	background:#e15656;
	border:1px solid #900;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.da-header-button.active span.da-button-count {
	top:-3px
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container ul li.da-header-button .da-header-dropdown {
	margin-top:11px
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown {
	position:absolute;
	top:100%;
	right:0;
	display:none;
	padding:4px 0;
	margin:2px 0 0;
	background-color:#fff;
	border:1px solid #c5c5c5;
	border:1px solid rgba(100,100,100,0.4);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.25);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.25);
	-o-box-shadow:0 5px 10px rgba(0,0,0,0.25);
	box-shadow:0 5px 10px rgba(0,0,0,0.25)
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li {
	margin:0;
	list-style:none
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li.da-dropdown-caret {
	position:absolute;
	top:-8px;
	width:20px;
	height:8px;
	overflow:hidden
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile ul.da-header-dropdown li.da-dropdown-caret {
	right:30px
}
div#da-header #da-header-top #da-header-toolbar .da-header-button ul.da-header-dropdown li.da-dropdown-caret {
	right:8px
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li.da-dropdown-caret .caret-outer, div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li.da-dropdown-caret .caret-inner {
	padding:0;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	display:block
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li.da-dropdown-caret .caret-outer {
	border-left:11px solid transparent;
	border-right:11px solid transparent;
	border-bottom:11px solid #aaa;
	border-bottom-color:rgba(0,0,0,0.2)
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li.da-dropdown-caret .caret-inner {
	top:1px;
	left:1px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid white
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li.da-dropdown-divider {
	line-height:1;
	padding-top:1px;
	margin:5px 1px 6px;
	border-bottom:1px solid #DDD
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li a, div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li span {
	position:relative;
	display:block;
	float:none;
	clear:both;
	text-decoration:none;
	padding:3px 22px;
	font-size:12px;
	font-weight:normal;
	line-height:18px;
	color:#444;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li a:hover {
	background-color:#a9ca60;
	color:#fff
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li ul.da-dropdown-sub {
	width:200px
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li .da-dropdown-sub-title {
	font-size:12px;
	font-weight:bold;
	padding:9px 22px;
	background-color:#eee;
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li .da-dropdown-sub-footer {
	padding:5px 22px;
	cursor:pointer;
	background-color:#eee;
	border-bottom:1px solid #cacaca
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown li .da-dropdown-sub-footer:hover {
	background-color:#e0e0e0;
	color:#444
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li {
	border-bottom:1px solid #cacaca;
	overflow:hidden
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li>a, div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li>span {
	padding:6px 22px
}
div#da-header #da-header-top #da-header-toolbar .message ul.da-header-dropdown ul.da-dropdown-sub li>a, div#da-header #da-header-top #da-header-toolbar .message ul.da-header-dropdown ul.da-dropdown-sub li>span {
	background:url(../images/icons/color/email.png) no-repeat 12px center;
	padding-left:40px
}
div#da-header #da-header-top #da-header-toolbar .message ul.da-header-dropdown ul.da-dropdown-sub li.read>a, div#da-header #da-header-top #da-header-toolbar .message ul.da-header-dropdown ul.da-dropdown-sub li.read>span {
	background-image:url(../images/icons/color/email_open.png)
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li.unread a, div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li.unread span, div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li a:hover, div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li span:hover {
	background-color:#f8f8f8
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li span {
	padding:0
}
div#da-header #da-header-top #da-header-toolbar ul.da-header-dropdown ul.da-dropdown-sub li span.time {
	font-size:10px;
	color:#666
}
div#da-header #da-header-bottom {
	background:url(../images/header-bottom.png) repeat-x left top
}
div#da-header #da-header-bottom #da-search {
	float:left;
	width:180px;
	padding:9px 0;
	position:relative
}
div#da-header #da-header-bottom #da-search input[type="text"] {
	width:100%;
	background:#f0f0f0 url(../images/search-icon.png) no-repeat right center;
	border:1px solid #cecece;
	margin:0;
	outline:0;
	padding:4px 12px;
	padding-right:24px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	-o-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
div#da-header #da-header-bottom #da-search input[type="text"]:focus {
	background-color:#fff
}
div#da-header #da-header-bottom #da-breadcrumb {
	margin-left:230px
}
div#da-header #da-header-bottom #da-breadcrumb ul, div#da-header #da-header-bottom #da-breadcrumb ul li {
	margin:0;
	list-style:none
}
div#da-header #da-header-bottom #da-breadcrumb ul li {
	display:inline-block;
	line-height:1;
	padding:15px 0;
	margin-right:24px
}
div#da-header #da-header-bottom #da-breadcrumb ul li img {
	max-width:16px;
	max-height:16px;
	margin-right:10px;
	float:left
}
div#da-header #da-header-bottom #da-breadcrumb ul li a, div#da-header #da-header-bottom #da-breadcrumb ul li span {
	text-decoration:none;
	color:#444;
	line-height:16px
}
div#da-header #da-header-bottom #da-breadcrumb ul li span {
	cursor:default
}
div#da-header #da-header-bottom #da-breadcrumb ul li.active {
	border-top:5px solid #a9ca60;
	padding-top:10px;
	padding-bottom:22px;
	background:url(../images/breadcrumb-arrow.png) no-repeat center bottom
}
div#da-content {
	clear:both;
	padding-bottom:58px
}
div#da-wrapper #da-sidebar-separator, div#da-wrapper.fluid #da-sidebar-separator {
	position:absolute;
	left:180px;
	width:50px;
	margin-left:2%;
	top:0;
	bottom:0;
	background:url(../images/container-separator.png) repeat-y center top
}
div#da-wrapper.fixed #da-sidebar-separator {
	left:50%;
	margin-left:-300px
}
div#da-content #da-sidebar {
	position:relative;
	float:left;
	z-index:150
}
div#da-content #da-sidebar .da-button-container {
	padding:2px;
	margin-bottom:6px;
	border:1px solid #cacaca;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,1);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,1);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,1);
	box-shadow:inset 0 1px 0 rgba(255,255,255,1);
	background-color:#fff;
	background-image:linear-gradient(bottom, #fff 0, #f1f1f1 100%);
	background-image:-o-linear-gradient(bottom, #fff 0, #f1f1f1 100%);
	background-image:-moz-linear-gradient(bottom, #fff 0, #f1f1f1 100%);
	background-image:-webkit-linear-gradient(bottom, #fff 0, #f1f1f1 100%);
	background-image:-ms-linear-gradient(bottom, #fff 0, #f1f1f1 100%);
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(1, #f1f1f1))
}
div#da-content #da-sidebar #da-main-nav.da-button-container {
	width:174px
}
div#da-content #da-main-nav ul, div#da-content #da-main-nav ul li {
	margin:0;
	list-style:none
}
div#da-content #da-main-nav ul {
	border:1px solid #cacaca;
	background:#fff;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
div#da-content #da-main-nav ul li {
	display:block;
	border-top:1px solid #fff;
	border-bottom:1px solid #cacaca;
	background-color:#fdfdfd;
	-webkit-box-shadow:inset 0 0 2px rgba(255,255,255,1);
	-o-box-shadow:inset 0 0 2px rgba(255,255,255,1);
	-moz-box-shadow:inset 0 0 2px rgba(255,255,255,1);
	box-shadow:inset 0 0 2px rgba(255,255,255,1)
}
div#da-content #da-main-nav ul li:first-child {
	border-top:0;
	-webkit-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0
}
div#da-content #da-main-nav ul li:last-child {
	border-bottom:0;
	-webkit-border-radius:0 0 4px 4px;
	-o-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px
}
div#da-content #da-main-nav ul li a, div#da-content #da-main-nav ul li span {
	display:block;
	color:#444;
	cursor:pointer;
	text-decoration:none;
	padding:18px 32px 18px 48px;
	outline:0;
	position:relative;
	background:url(../images/menu-bulb-off.png) right center no-repeat
}
div#da-content #da-main-nav ul li.active a, div#da-content #da-main-nav ul li.active span {
	background-image:url(../images/menu-bulb-on.png)
}
div#da-content #da-main-nav ul li span.da-nav-count {
	display:block;
	position:absolute;
	left:0;
	top:-1px;
	background:0;
	margin:0;
	font-size:10px;
	line-height:1;
	z-index:100;
	text-align:center;
	background:#f0f0f0;
	border:1px solid #bbb;
	min-width:10px;
	padding:2px 4px;
	border-left:0;
	border-top:0;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.25);
	-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.25);
	-o-box-shadow:inset 0 0 6px rgba(0,0,0,0.25);
	box-shadow:inset 0 0 6px rgba(0,0,0,0.25);
	-webkit-border-radius:0 0 2px 0;
	-moz-border-radius:0 0 2px 0;
	-o-border-radius:0 0 2px 0;
	border-radius:0 0 2px 0
}
div#da-content #da-main-nav ul li span.da-nav-icon {
	padding:0;
	margin:0;
	width:32px;
	height:32px;
	background:none!important;
	position:absolute;
	left:8px;
	top:50%;
	margin-top:-16px
}
div#da-content #da-main-nav ul li span.da-nav-icon img {
	max-width:24px;
	max-height:24px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-12px;
	margin-top:-12px
}
div#da-content #da-main-nav ul li ul {
	border:0;
	background:#e9e9e9 url(../images/submenu-shadow.png) repeat-x left top;
	-webkit-border-radius:0;
	-o-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
div#da-content #da-main-nav ul li ul.closed {
	display:none
}
div#da-content #da-main-nav ul li ul li {
	border:0;
	background:0;
	font-size:12px;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
div#da-content #da-main-nav ul li ul li:hover {
	background:url(../images/menu-hover.png)
}
div#da-content #da-main-nav ul li ul li a, div#da-content #da-main-nav ul li ul li span {
	padding:6px 0;
	padding-left:48px;
	background:none!important
}
div#da-content #da-content-wrap {
	margin-left:230px;
	padding-bottom:20px;
	margin-top:20px
}
div#da-content #da-content-wrap #da-content-area {
	float:left;
	width:100%;
	display:block
}
div#da-footer {
	background:#fff;
	border-top:1px solid #d0d0d0;
	padding:20px 0;
	text-align:center;
	position:absolute;
	bottom:0;
	width:100%
}
div#da-footer p {
	margin:0
}
@media only screen and (max-width:1023px) {
div#da-wrapper.fixed {
	min-width:0
}
div#da-wrapper.fixed .da-container {
	width:96%
}
}
@media only screen and (min-width:481px) and (max-width:1023px) {
div#da-header #da-header-bottom #da-search {
	width:115px
}
div#da-header #da-header-bottom #da-breadcrumb {
	margin-left:165px
}
div#da-content #da-sidebar-separator {
	left:115px!important
}
div#da-wrapper.fixed #da-sidebar-separator {
	margin-left:2%
}
div#da-content #da-sidebar #da-main-nav.da-button-container {
	width:109px
}
div#da-content #da-main-nav ul li span.da-nav-icon {
	position:relative;
	width:auto;
	height:auto;
	left:auto;
	top:auto;
	text-align:center;
	margin:0 0 4px 0
}
div#da-content #da-main-nav ul li span.da-nav-icon img {
	max-width:none;
	max-height:none;
	position:relative;
	left:auto;
	top:auto;
	margin-left:0;
	margin-top:0
}
div#da-content #da-main-nav ul li a, div#da-content #da-main-nav ul li span {
	padding:16px;
	text-align:center;
	background-position:right top
}
div#da-content #da-main-nav ul li ul li a, div#da-content #da-main-nav ul li ul li span {
	padding:6px 0;
	text-align:center
}
div#da-content #da-content-wrap {
	margin-left:165px
}
}
@media only screen and (max-width:768px) {
div#da-header #da-header-top da-header-toolbar #da-user-profile #da-user-avatar {
	margin:0
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile #da-user-info {
	display:none
}
}
@media only screen and (max-width:480px) {
div#da-wrapper .da-container {
	width:100%!important
}
div#da-header #da-header-bottom {
	height:auto
}
div#da-header #da-header-top #da-logo-wrap {
	float:none;
	position:absolute;
	width:100%;
	height:55px;
	border-bottom:1px solid #161616
}
div#da-header #da-header-top #da-logo {
	position:absolute;
	left:50%;
	text-align:center;
	margin-left:-115px
}
div#da-header #da-header-top #da-header-toolbar {
	border:0;
	width:100%;
	margin-top:56px;
	border-top:1px solid #535353
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile {
	border:0;
	float:left
}
div#da-header #da-header-top #da-header-toolbar #da-header-button-container {
	padding:10px 7px;
	border:0;
	float:right
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile ul.da-header-dropdown {
	right:auto;
	left:0
}
div#da-header #da-header-top #da-header-toolbar #da-user-profile ul.da-header-dropdown li.da-dropdown-caret {
	right:auto;
	left:16px
}
div#da-header #da-header-bottom #da-search {
	display:none
}
div#da-header #da-header-bottom #da-breadcrumb {
	display:none
}
div#da-content #da-sidebar-separator {
	display:none
}
div#da-content #da-sidebar {
	display:block;
	height:55px;
	width:100%;
	cursor:pointer;
	float:none;
	background:url(../images/icons/black/16/list.png) center 14px no-repeat, url(../images/header-bottom.png) repeat-x left top
}
div#da-content #da-sidebar #da-main-nav.da-button-container {
	width:100%;
	padding:0;
	background:0;
	border:0
}
div#da-content #da-sidebar #da-main-nav ul {
	border:0
}
div#da-content #da-sidebar #da-main-nav ul, div#da-content #da-sidebar #da-main-nav ul li {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border-radius:0
}
div#da-content #da-main-nav>ul>li:last-child {
	border-bottom:1px solid #cacaca
}
div#da-content #da-main-nav {
	position:absolute;
	display:none;
	top:41px
}
div#da-content #da-main-nav.open {
	display:block
}
div#da-content {
	margin-top:auto
}
div#da-content #da-content-wrap {
	margin:0 2%
}
#da-customizer {
	display:none
}
}
#da-customizer {
	z-index:300;
	position:fixed;
	top:0;
	left:50%;
	margin-left:-91px
}
#da-customizer #da-customizer-content {
	background:#fff;
	padding:8px 16px;
	width:150px;
	height:0;
	padding-top:0;
	overflow:hidden;
	border-color:#999;
	border-color:rgba(0,0,0,.2);
	border-style:solid;
	border-width:1px;
	border-top-width:0;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-o-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);
	-o-box-shadow:0 5px 10px rgba(0,0,0,.2);
	box-shadow:0 5px 10px rgba(0,0,0,.2)
}
#da-customizer #da-customizer-content ul, #da-customizer #da-customizer-content ul li {
	margin:0;
	list-style:none
}
#da-customizer #da-customizer-content ul {
	margin-bottom:5px
}
#da-customizer #da-customizer-content ul li {
	padding:4px
}
#da-customizer #da-customizer-content ul li span.da-customizer-title {
	display:block;
	margin-bottom:4px
}
#da-customizer #da-customizer-content ul li select {
	background-color:#fcfcfc;
	border:1px solid #d1d1d1;
	padding:4px;
	margin:0;
	outline:0;
	width:100%;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
#da-customizer ul#da-customizer-layouts {
	list-style:none;
	margin:0
}
#da-customizer ul#da-customizer-layouts li {
	float:left;
	padding:0;
	padding-right:8px
}
#da-customizer ul#da-customizer-layouts li label, #da-customizer ul#da-customizer-layouts li input {
	display:inline;
	margin:0;
	padding:0;
	width:auto;
	margin-left:2px;
	vertical-align:middle
}
#da-customizer span.da-customizer-tooltip {
	font-size:.9em;
	display:inline-block;
	line-height:1;
	cursor:pointer
}
#da-customizer #da-customizer-button {
	padding-bottom:5px
}
#da-customizer #da-customizer-button button {
	width:100%
}
#da-customizer-dialog textarea {
	background-color:#fcfcfc;
	border:0;
	padding:6px;
	outline:0;
	width:100%;
	margin:0;
	color:#444;
	font-size:1em;
	height:200px;
	resize:none;
	font-family:"Courier New", Courier, monospace;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.04);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.04);
	-o-box-shadow:0 1px 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.04);
	box-shadow:0 1px 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.04)
}
#da-customizer #da-customizer-pulldown {
	display:block;
	margin-left:71px;
	width:40px;
	height:40px;
	cursor:pointer;
	margin-top:-1px;
	background:url(../images/icons/black/32/cog_5.png) no-repeat center center #fff;
	border-color:#999;
	border-color:rgba(0,0,0,.2);
	border-style:solid;
	border-width:1px;
	border-top-width:0;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-o-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);
	-o-box-shadow:0 5px 10px rgba(0,0,0,.2);
	box-shadow:0 5px 10px rgba(0,0,0,.2)
}
div#da-error-wrapper {
	width:320px;
	padding:30px 0;
	margin:auto;
	position:relative
}
div#da-error-wrapper .da-error-heading {
	color:#e15656;
	text-align:center;
	font-size:24px;
	font-family:Georgia, "Times New Roman", Times, serif
}
@-webkit-keyframes error-swing {
0% {
-webkit-transform:rotate(1deg)
}
100% {
-webkit-transform:rotate(-2deg)
}
}
@-moz-keyframes error-swing {
0% {
-moz-transform:rotate(1deg)
}
100% {
-moz-transform:rotate(-2deg)
}
}
@keyframes error-swing {
0% {
transform:rotate(1deg)
}
100% {
transform:rotate(-2deg)
}
}
div#da-error-wrapper #da-error-code {
	width:285px;
	height:170px;
	padding:127px 16px 0 16px;
	position:relative;
	margin:auto;
	margin-bottom:20px;
	z-index:5;
	line-height:1;
	font-size:32px;
	text-align:center;
	background:url(../images/error-hanger.png) no-repeat center center;
	-webkit-transform-origin:center top;
	-moz-transform-origin:center top;
	transform-origin:center top;
	-webkit-animation:error-swing infinite 2s ease-in-out alternate;
	-moz-animation:error-swing infinite 2s ease-in-out alternate;
	animation:error-swing infinite 2s ease-in-out alternate
}
div#da-error-wrapper #da-error-code span {
	font-size:96px;
	display:block
}
div#da-error-wrapper #da-error-pin {
	width:38px;
	height:38px;
	display:block;
	margin:auto;
	margin-bottom:-27px;
	z-index:10;
	position:relative;
	background:url(../images/error-pin.png) no-repeat center center
}
div#da-error-wrapper p {
	text-align:center;
	font-size:14px
}
div#da-error-wrapper p a {
	color:#fff;
	background:#a6d037;
	text-decoration:none;
	padding:1px 6px;
	display:inline-block;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
form.da-form input {
	outline:0
}
form.da-form input[type="text"], form.da-form input[type="password"], form.da-form select, form.da-form textarea, form.da-form .customfile {
	background-color:#fcfcfc;
	border:1px solid #d1d1d1;
	padding:6px;
	outline:0;
	width:100%;
	margin:0;
	color:#444;
	font-size:1em;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.04);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.04);
	-o-box-shadow:0 1px 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.04);
	box-shadow:0 1px 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.04);
	-webkit-transition:background 150ms linear;
	-moz-transition:background 150ms linear;
	-ms-transition:background 150ms linear;
	-o-transition:background 150ms linear;
	transition:background 150ms linear
}
form.da-form input[type="text"]:focus, form.da-form input[type="password"]:focus, form.da-form select:focus, form.da-form textarea:focus {
	border-color:#bbc1c9;
	background-color:#fff
}
form.da-form input[type="text"].error, form.da-form input[type="password"].error, form.da-form select.error, form.da-form textarea.error {
	border-color:#e48c85
}
form.da-form input[type="text"]:disabled, form.da-form input[type="password"]:disabled, form.da-form select:disabled, form.da-form textarea:disabled {
	background:#f0f0f0
}
form.da-form textarea {
	height:10em;
	margin:2px 0;
	resize:none
}
.customfile-input {
	position:absolute;
	height:100px;
	cursor:pointer;
	background:transparent;
	border:0;
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity=0);
	z-index:999999
}
form.da-form .customfile {
	position:relative;
	overflow:hidden
}
.customfile-disabled {
	opacity:.5;
	filter:alpha(opacity=50);
	cursor:default
}
.customfile-feedback {
	line-height:15px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.customfile-button {
	outline:0;
	float:right;
	line-height:15px;
	padding:6px 10px;
	margin:-7px -7px -7px 0;
	cursor:pointer;
	z-index:9999;
	background:#f3f3f3 url(../images/button-gradient.png) repeat-x left bottom;
	border:1px solid #d1d1d1;
	-webkit-border-radius:0 2px 2px 0;
	-o-border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	border-radius:0 2px 2px 0;
	-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.6);
	-o-box-shadow:inset 0 1px 1px rgba(255,255,255,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.6);
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.6)
}
.customfile:not(.customfile-disabled):active .customfile-button {
	background-image:none;
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.1)
}
form.da-form .da-form-row .ui-slider {
	margin-top:12px;
	margin-bottom:24px
}
form.da-form .da-form-row .ui-progressbar {
	margin-top:7px;
	margin-bottom:24px
}
form.da-form .da-form-row .chzn-container-multi .chzn-choices .search-field input {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-o-box-sizing:content-box;
	box-sizing:content-box
}
.da-message {
	font-size:12px;
	border-bottom:1px solid #d2d2d2;
	padding:15px 8px 15px 45px;
	position:relative;
	vertical-align:middle;
	cursor:pointer;
	background-color:#f8f8f8;
	background-position:12px 12px;
	background-repeat:no-repeat
}
.da-message p, .da-message ul, .da-message ol {
	margin:0
}
.da-message ul li, .da-message ol li {
	list-style-position:inside;
	list-style-type:inherit;
	margin:0
}
.da-message.error {
	background-color:#ffcbca;
	background-image:url(../images/message-error.png);
	border-color:#eb979b;
	color:#9b4449
}
.da-message.error .da-message-close {
	background-position:right bottom
}
.da-message.success {
	background-color:#e1f1c0;
	background-image:url(../images/message-success.png);
	border-color:#b5d56d;
	color:#62a426
}
.da-message.success .da-message-close {
	background-position:left bottom
}
.da-message.warning {
	background-color:#fef0b1;
	background-image:url(../images/message-warning.png);
	border-color:#ddca76;
	color:#a98b15
}
.da-message.warning .da-message-close {
	background-position:right top
}
.da-message.info {
	background-color:#bce5f7;
	background-image:url(../images/message-info.png);
	border-color:#a6d3e8;
	color:#11689e
}
.da-message.info .da-message-close {
	background-position:left top
}
form.da-form .da-button-row:after, form.da-form .da-form-row:after, form.da-form:after, form.da-form-item:after, .da-form ul.da-form-list:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
* html .da-button-row, * html .da-form-row, * html .da-form, * html .da-form-item, * html .da-form ul.da-form-list {
	height:1%
}
.da-form .da-form-row {
	padding:23px 16px;
	display:block;
	border-bottom:1px solid #d3d3d3
}
.da-form .da-form-row:last-child {
	border-bottom:0
}
.da-form .da-button-row {
	background-color:#f2f0f0;
	border-top:1px solid #d3d3d3;
	margin:0;
	padding:16px;
	margin-top:-1px;
	text-align:right;
	-webkit-border-radius:0 0 4px 4px;
	-o-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,1)
}
form.da-form .da-form-col-1-8 label, form.da-form .da-form-col-2-8 label, form.da-form .da-form-col-3-8 label, form.da-form .da-form-col-4-8 label, form.da-form .da-form-col-5-8 label, form.da-form .da-form-col-6-8 label, form.da-form .da-form-col-7-8 label, form.da-form .da-form-col-8-8 label {
	white-space:nowrap;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis
}
form.da-form .da-form-col-1-8, form.da-form .da-form-col-2-8, form.da-form .da-form-col-3-8, form.da-form .da-form-col-4-8, form.da-form .da-form-col-5-8, form.da-form .da-form-col-6-8, form.da-form .da-form-col-7-8, form.da-form .da-form-col-8-8 {
	float:left;
	padding:0 1%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-khtml-box-sizing:border-box
}
form.da-form .da-form-col-1-8.alpha, form.da-form .da-form-col-2-8.alpha, form.da-form .da-form-col-3-8.alpha, form.da-form .da-form-col-4-8.alpha, form.da-form .da-form-col-5-8.alpha, form.da-form .da-form-col-6-8.alpha, form.da-form .da-form-col-7-8.alpha, form.da-form .da-form-col-8-8.alpha {
	padding-left:0;
	clear:left
}
form.da-form .da-form-col-1-8.omega, form.da-form .da-form-col-2-8.omega, form.da-form .da-form-col-3-8.omega, form.da-form .da-form-col-4-8.omega, form.da-form .da-form-col-5-8.omega, form.da-form .da-form-col-6-8.omega, form.da-form .da-form-col-7-8.omega, form.da-form .da-form-col-8-8.omega {
	padding-right:0;
	clear:right
}
form.da-form .da-form-col-1-8 {
	width:12.5%
}
form.da-form .da-form-col-2-8 {
	width:25%
}
form.da-form .da-form-col-3-8 {
	width:37.5%
}
form.da-form .da-form-col-4-8 {
	width:50%
}
form.da-form .da-form-col-5-8 {
	width:62.5%
}
form.da-form .da-form-col-6-8 {
	width:75%
}
form.da-form .da-form-col-7-8 {
	width:87.5%
}
form.da-form .da-form-col-8-8 {
	width:100%
}
.da-form ul.da-form-list {
	display:block;
	width:100%!important
}
.da-form ul.da-form-list.inline {
	margin-bottom:0
}
.da-form ul.da-form-list, .da-form ul.da-form-list li {
	margin:0;
	line-height:normal;
	list-style:none
}
.da-form ul.da-form-list {
	margin-bottom:4px
}
.da-form ul.da-form-list li {
	margin-bottom:4px
}
.da-form ul.da-form-list li:last-child {
	margin:0
}
.da-form ul.da-form-list.inline li {
	float:left;
	margin:5px 10px 0 0
}
.da-form ul.da-form-list li input, .da-form ul.da-form-list li label {
	float:none!important;
	padding:0;
	margin:0 2px 0 0;
	width:auto!important;
	display:inline!important;
	vertical-align:middle!important
}
.da-form label {
	/*cursor:pointer;*/
	display:block
}
.da-form label .required {
	color:#f00
}
.da-form fieldset {
	margin-bottom:0;
	border-top:1px solid #d3d3d3
}
.da-form fieldset legend {
	padding:4px 6px;
	margin:0 10px;
	background-color:#fafafa;
	border:1px solid #d3d3d3
}
.da-form .da-form-item .errorMessage, .da-form .da-form-item label.error {
	display:block;
	color:#d44d24;
	font-size:11px;
	width:100%!important;
	margin-top:1px;
	padding:0!important
}
.da-form .da-form-item .formNote {
	display:block;
	color:#555;
	font-size:11px;
	margin-bottom:1px;
	font-style:italic;
	margin-top:-17px;
	text-align:right;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.da-form .da-form-item a.formNote {
	color:#73991f
}
.da-form .da-form-item .formNote.left {
	text-align:left
}
.da-form .da-form-row .da-form-item {
	position:relative
}
.da-form .da-form-row .da-form-item>*, .da-form .da-form-row .da-form-item.default>* {
	width:70%
}
.da-form .da-form-row .da-form-item.small>* {
	width:35%
}
.da-form .da-form-row .da-form-item.large>* {
	width:100%
}
.da-form .da-form-row, .da-form .da-form-inline .da-form-row, .da-form .da-form-row.da-form-inline {
	width:100%;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.da-form .da-form-row label, .da-form .da-form-inline .da-form-row label, .da-form .da-form-row.da-form-inline label {
	float:left;
	width:120px;
	padding:6px 0
}
.da-form .da-form-row .da-form-item, .da-form .da-form-inline .da-form-row .da-form-item, .da-form .da-form-row.da-form-inline .da-form-item {
	margin-left:136px
}
.da-form .da-form-block .da-form-row, .da-form .da-form-row.da-form-block {
	width:100%;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.da-form .da-form-block .da-form-row label, .da-form .da-form-row.da-form-block label {
	float:none;
	width:auto;
	display:block;
	padding:0 0 6px 0
}
.da-form .da-form-block .da-form-row .da-form-item, .da-form .da-form-row.da-form-block .da-form-item {
	margin:0;
	display:block
}
@media only screen and (max-width:768px) {
.da-form .da-form-row label, .da-form .da-form-inline .da-form-row label, .da-form .da-form-row.da-form-inline label {
	clear:both;
	float:none;
	width:auto;
	padding:0 0 6px 0
}
.da-form .da-form-row .da-form-item, .da-form .da-form-inline .da-form-row .da-form-item, .da-form .da-form-row.da-form-inline .da-form-item {
	clear:both;
	float:none;
	margin:0
}
.da-form .da-form-item .formNote {
	text-align:left;
	margin-top:auto
}
}
@media only screen and (max-width:480px) {
.da-form .da-form-row {
	padding:12px
}
.da-form .da-button-row {
	padding:8px
}
.da-form .da-form-item .errorMessage, .da-form .da-form-item label.error {
	margin:1px 0 0 0
}
}
.da-gallery ul, .da-gallery ul li {
	margin:0;
	list-style:none;
	text-align:center
}
.da-gallery ul li {
	display:inline-block;
	position:relative;
	margin:15px;
	width:150px;
	height:150px
}
.da-gallery ul li a {
	display:block;
	position:relative;
	z-index:15;
	zoom:1
}
.da-gallery ul li a img {
	padding:6px;
	max-width:138px;
	max-height:138px;
	background-color:#fff;
	border:1px solid #dcdcdc;
	border:1px solid rgba(255,255,255,0);
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.4);
	-o-box-shadow:0 1px 4px rgba(0,0,0,0.4);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.4);
	box-shadow:0 1px 4px rgba(0,0,0,0.4)
}
.da-gallery ul li a:after, .da-gallery ul li a:before {
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	border:6px solid #fafafa;
	background-color:#808080;
	left:0;
	top:0;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.4);
	-o-box-shadow:0 1px 4px rgba(0,0,0,0.4);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.4);
	box-shadow:0 1px 4px rgba(0,0,0,0.4);
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
.da-gallery ul li a:after {
	z-index:-10;
	-webkit-transform:rotate(8deg);
	-o-transform:rotate(8deg);
	-moz-transform:rotate(8deg);
	transform:rotate(8deg)
}
.da-gallery ul li a:before {
	z-index:-5;
	-webkit-transform:rotate(4deg);
	-o-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	transform:rotate(4deg)
}
.da-gallery ul li:nth-child(even) a:after {
	-webkit-transform:rotate(-6deg);
	-o-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
	transform:rotate(-6deg)
}
.da-gallery ul li:nth-child(even) a:before {
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	transform:rotate(-2deg)
}
.da-gallery ul li:nth-child(3n) a:after {
	-webkit-transform:rotate(6deg);
	-o-transform:rotate(6deg);
	-moz-transform:rotate(6deg);
	transform:rotate(6deg)
}
.da-gallery ul li:nth-child(3n) a:before {
	-webkit-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	transform:rotate(3deg)
}
.da-gallery ul li:nth-child(5n) a:after {
	-webkit-transform:rotate(-8deg);
	-o-transform:rotate(-8deg);
	-moz-transform:rotate(-8deg);
	transform:rotate(-8deg)
}
.da-gallery ul li:nth-child(5n) a:before {
	-webkit-transform:rotate(-4deg);
	-o-transform:rotate(-4deg);
	-moz-transform:rotate(-4deg);
	transform:rotate(-4deg)
}
.da-gallery ul li:nth-child(8n) a:after {
	-webkit-transform:rotate(-8deg);
	-o-transform:rotate(-8deg);
	-moz-transform:rotate(-8deg);
	transform:rotate(-8deg)
}
.da-gallery ul li:nth-child(8n) a:before {
	-webkit-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	transform:rotate(-3deg)
}
.da-gallery ul li span.da-gallery-hover ul li, .da-gallery ul li span.da-gallery-hover ul li a, .da-gallery ul li span.da-gallery-hover ul li a:after, .da-gallery ul li span.da-gallery-hover ul li a:before {
	width:auto;
	height:auto;
	border:0;
	margin:auto;
	-webkit-transform:none;
	-o-transform:none;
	-moz-transform:none;
	transform:none
}
.da-gallery ul li span.da-gallery-hover {
	display:block;
	z-index:20;
	position:relative;
	margin:0;
	padding:0;
	right:0;
	bottom:0
}
.da-gallery ul li span.da-gallery-hover ul {
	position:absolute;
	right:10px;
	bottom:11px
}
.da-gallery ul li span.da-gallery-hover ul li {
	padding:0;
	float:left;
	margin:0 1px;
	overflow:hidden
}
.da-gallery ul li span.da-gallery-hover ul li a {
	display:block;
	text-indent:-99999px;
	text-decoration:none;
	width:32px;
	height:32px;
	margin:0;
	padding:0;
	border:1px solid #060606;
	opacity:0;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.08);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.08);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.08);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.08);
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	background-color:#202020;
	background-repeat:no-repeat;
	background-position:center center
}
.da-gallery ul li span.da-gallery-hover ul li.da-gallery-update a {
	background-image:url(../images/icons/white/16/pencil.png);
	top:50px
}
.da-gallery ul li span.da-gallery-hover ul li.da-gallery-delete a {
	background-image:url(../images/icons/white/16/cross_small.png);
	top:150px
}
.da-gallery ul li:hover span.da-gallery-hover ul li a {
	top:0;
	opacity:1
}
.da-gallery ul li span.da-gallery-hover ul li a:hover {
	background-color:#101010
}
div.da-panel:after, div.da-panel .da-panel-content:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
div.da-panel, div.da-panel .da-panel-content {
	display:inline-block
}
* html div.da-panel, * html div.da-panel .da-panel-content {
	height:1%
}
div.da-panel, div.da-panel .da-panel-content {
	display:block
}
div.da-panel, div.da-panel-widget {
	margin-bottom:20px;
	position:relative;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out
}
div.da-panel .da-panel-header {
	display:block!important;
	position:relative;
	border:1px solid #bfbfbf;
	background-image:url(../images/panel-header.png);
	padding:0 16px;
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5)
}
div.da-panel .da-panel-header .da-panel-title {
	font-size:14px;
	display:block;
	line-height:20px;
	padding:16px 0;
	margin-right:32px
}
div.da-panel .da-panel-header .da-panel-title img {
	max-height:16px;
	max-width:16px;
	display:inline;
	margin-right:4px
}
div.da-panel .da-panel-header .da-panel-toggler {
	background:url(../images/icons/black/16/bended_arrow_up.png) no-repeat center center;
	border-left:1px solid #c3c3c3;
	margin-top:-26px;
	height:16px;
	width:32px;
	padding:18px 0;
	padding-right:16px;
	display:block;
	position:absolute;
	right:0;
	top:50%;
	cursor:pointer
}
div.da-panel.collapsed .da-panel-header .da-panel-toggler {
	background-image:url(../images/icons/black/16/bended_arrow_down.png)
}
div.da-panel.collapsed>* {
	display:none
}
div.da-panel .da-panel-content, div.da-panel-widget {
	background-color:white;
	background-image:url(../images/panel-content.png);
	background-repeat:repeat-x;
	background-position:left top;
	border:1px solid #bfbfbf
}
div.da-panel .da-panel-content {
	border-top:0
}
div.da-panel.scrollable .da-panel-content .viewport {
	overflow:hidden;
	position:relative
}
div.da-panel.scrollable .da-panel-content .viewport .overview {
	position:absolute;
	left:0;
	top:0
}
div.da-panel.scrollable .da-panel-content .scrollbar {
	width:10px;
	height:16px;
	padding:3px 0;
	background-color:#fff;
	border-top:1px solid #d0d0d0
}
div.da-panel.scrollable .da-panel-content .scrollbar .track {
	height:16px;
	width:10px;
	background:url(../images/scrollbar-track-bg.png) repeat-x;
	position:relative
}
div.da-panel.scrollable .da-panel-content .scrollbar .thumb {
	height:13px;
	width:10px;
	margin-top:1px;
	border-top:1px solid #fff;
	cursor:pointer;
	overflow:hidden;
	top:0;
	position:absolute;
	background:#f0f0f0 url(../images/scrollbar-grip.png) center center no-repeat
}
div.da-panel.scrollable .da-panel-content .scrollbar .thumb .end {
	display:none
}
div.da-panel.scrollable .da-panel-content .disable {
	display:none
}
div.da-panel .da-panel-content.with-padding, div.da-panel-widget {
	padding:1em 1.2em
}
div.da-panel-toolbar ul:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
div.da-panel-toolbar ul {
	display:inline-block
}
* html div.da-panel-toolbar ul {
	height:1%
}
div.da-panel-toolbar ul {
	display:block
}
div.da-panel-toolbar ul, div.da-panel-toolbar ul li {
	margin:0;
	list-style:none
}
div.da-panel-toolbar ul, div.da-panel-toolbar ul.top {
	border:1px solid #bfbfbf;
	border-bottom-color:#cacaca;
	border-top:0;
	background:url(../images/toolbar-bg.png) repeat-x left bottom
}
div.da-panel-toolbar ul.bottom {
	border-bottom-color:#bfbfbf
}
div.da-panel-toolbar ul li {
	display:block;
	float:left;
	position:relative
}
div.da-panel-toolbar ul li a, div.da-panel-toolbar ul li span {
	display:block;
	padding:6px 10px;
	text-decoration:none;
	color:#444;
	border-right:1px solid #d6d6d6;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,1), inset 1px 0 0 rgba(255,255,255,1);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,1), inset 1px 0 0 rgba(255,255,255,1);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,1), inset 1px 0 0 rgba(255,255,255,1);
	box-shadow:inset 0 1px 0 rgba(255,255,255,1), inset 1px 0 0 rgba(255,255,255,1)
}
div.da-panel-toolbar>ul>li>a:active, div.da-panel-toolbar>ul>li>span:active {
	background-color:#f0f0f0;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)
}
div.da-panel-toolbar ul li a img, div.da-panel-toolbar ul li span img {
	max-height:16px;
	max-width:16px;
	margin-right:8px
}
div.da-panel-toolbar ul li ul {
	position:absolute;
	top:100%;
	left:-1px;
	margin:0;
	z-index:300;
	border:0;
	background:0;
	display:none
}
div.da-panel-toolbar.bottom ul li ul {
	bottom:100%;
	top:auto
}
div.da-panel-toolbar ul li ul li {
	display:block;
	float:none;
	min-width:120px;
	background:#fafafa;
	border:1px solid #cacaca;
	border-top-color:#fafafa;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.3)
}
div.da-panel-toolbar ul li ul li a, div.da-panel-toolbar ul li ul li span {
	border-right:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none
}
div.da-panel-toolbar ul li ul li:hover {
	background:#a9ca60;
	border:1px solid #779625!important
}
div.da-panel-toolbar ul li ul li:hover>a, div.da-panel-toolbar ul li ul li:hover>span {
	color:#fff
}
div.da-panel-toolbar ul li ul li:first-child {
	border-top:1px solid #cacaca
}
div.da-panel-toolbar ul li:hover>ul {
	display:block
}
div.da-panel-toolbar ul li ul li ul {
	left:100%;
	top:0;
	margin-top:-1px
}
div.da-panel-toolbar.bottom ul li ul li ul {
	bottom:0;
	top:auto;
	margin-top:0;
	margin-bottom:-1px
}
div.da-panel-toolbar.bottom ul li ul li:hover ul li:first-child {
	border-left:1px solid #cacaca
}
html .fc, .fc table {
	margin-bottom:0
}
.fc .fc-event-skin {
	background-color:#505050;
	border-color:#000
}
.fc .fc-button-content {
	background:transparent url(../images/button-gradient.png) repeat-x left bottom;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.6);
	-o-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.6);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.6);
	box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.6)
}
.fc .fc-button-content:active {
	background-image:none;
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.1)
}
.fc .fc-widget-header {
	background:url(../images/default-header.png) repeat-x left bottom;
	-moz-box-shadow:inset 1px 0 0 0 #f8f8f8;
	-webkit-box-shadow:inset 1px 0 0 0 #f8f8f8;
	-khtml-box-shadow:inset 1px 0 0 0 #f8f8f8;
	box-shadow:inset 1px 0 0 0 #f8f8f8
}
.da-panel-content .el-finder {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:0
}
div.pp_default .pp_social {
	display:none
}
.da-circular-stat-wrap, .da-circular-stat {
	margin:0;
	list-style:none
}
.da-circular-stat-wrap {
	text-align:center;
	margin-bottom:20px
}
.da-circular-stat {
	display:inline-block;
	width:135px;
	height:135px;
	position:relative;
	margin:0 5px 5px 5px;
	background:url(../images/circular-stat-back.png) no-repeat center center;
	background-size:100% 100%
}
.da-circular-stat .da-circular-front, .da-circular-stat .da-circular-progress {
	display:block;
	position:absolute;
	width:120px;
	height:120px;
	top:8px;
	left:8px;
	z-index:50
}
.da-circular-stat .da-circular-front {
	z-index:100;
	background:url(../images/circular-stat-front.png) no-repeat center center;
	background-size:100% 100%
}
.da-circular-stat .da-circular-front .da-circular-digit, .da-circular-stat .da-circular-front .da-circular-label {
	display:block;
	width:70px;
	height:30px;
	margin:auto;
	margin-top:30px;
	text-align:center
}
.da-circular-stat .da-circular-front .da-circular-digit {
	color:#181818;
	font-size:14px;
	color:#444;
	font-weight:bold
}
.da-circular-stat .da-circular-front .da-circular-digit span {
	font-size:18px
}
.da-circular-stat .da-circular-front .da-circular-label {
	margin-top:4px;
	color:#000;
	font-size:11px
}
ul.da-summary-stat, ul.da-summary-stat li {
	margin:0;
	list-style:none
}
ul.da-summary-stat li:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
ul.da-summary-stat li {
	display:block;
	clear:both
}
ul.da-summary-stat>li>a, ul.da-summary-stat>li>span {
	text-decoration:none;
	display:block;
	padding:8px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out
}
ul.da-summary-stat>li:hover>a, ul.da-summary-stat>li:hover>span {
	background-color:#f0f0f0
}
ul.da-summary-stat li .da-summary-icon {
	width:48px;
	height:48px;
	display:block;
	float:left;
	position:relative;
	text-align:center;
	background-color:#656565;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px
}
ul.da-summary-stat li .da-summary-icon img {
	max-height:32px;
	max-width:32px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-16px;
	margin-top:-16px
}
ul.da-summary-stat li .da-summary-text {
	margin-left:56px;
	display:block;
	color:#656565
}
ul.da-summary-stat li .da-summary-text span.value {
	color:#444;
	font-size:21px;
	font-weight:bold;
	display:block;
	display:inline-block
}
ul.da-summary-stat li .da-summary-text span.label {
	display:block
}
ul.da-summary-stat li .da-summary-text span.value.up {
	background:url(../images/up.png) no-repeat right center;
	padding-right:24px
}
ul.da-summary-stat li .da-summary-text span.value.down {
	background:url(../images/down.png) no-repeat right center;
	padding-right:24px
}
table.da-table {
	width:100%;
	margin:0;
	clear:both
}
table.da-table tr td, table.da-table tr th {
	vertical-align:middle
}
table.da-table thead tr {
	/*background:#eee url(../images/default-header.png) repeat-x left top*/
	background: #6a005b;
        color: #fff;
}
table.da-table tr th {
	padding:11px 20px;
	border-bottom:1px solid #cacaca;
	border-right:1px solid #cacaca;
	-moz-box-shadow:inset 1px 0 0 0 #f8f8f8;
	-webkit-box-shadow:inset 1px 0 0 0 #f8f8f8;
	-khtml-box-shadow:inset 1px 0 0 0 #f8f8f8;
	box-shadow:inset 1px 0 0 0 #f8f8f8
}
table.da-table thead tr {
	-moz-box-shadow:inset 0 1px 0 0 #fff;
	-webkit-box-shadow:inset 0 1px 0 0 #fff;
	-khtml-box-shadow:inset 0 1px 0 0 #fff;
	box-shadow:inset 0 1px 0 0 #fff
}
table.da-table tr th:last-child {
	border-right:0
}
table.da-table tr td {
	/*border-bottom:1px solid #dcdcdc;*/
	border-bottom:1px solid #fff;
	border-right:1px solid #e0e0e0;
/*	padding:7px 10px*/
        padding:10px 6px;
}
table.da-table tr td:last-child {
	border-right:0
}
table.da-table tr:last-child td {
	border-bottom:0
}
table.da-table tr td.da-icon-column {
	text-align:center;
	width:80px
}
table.da-table tr td.da-icon-column img {
	margin:0 2px
}
table.da-table tr.odd {
	background-color:#fff
}
table.da-table tr.even {
	background-color:#fcfcfc
}
table.da-table.da-detail-view tbody th {
	width:120px;
	background:url(../images/default-header.png) repeat-x left bottom
}
table.da-table.da-detail-view tbody tr:last-child th {
	border-bottom:0
}
table.da-table.da-detail-view .null {
	color:#f2618c
}
.dataTables_wrapper {
	background-color:#fcfcfc
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
	display:inline-block;
	padding:10px
}
.dataTables_wrapper .dataTables_paginate {
	padding:0
}
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_paginate {
	float:right
}
.dataTables_wrapper .da-table {
	border-top:1px solid #cacaca
}
.dataTables_wrapper .da-table tr:last-child td {
	border-bottom:1px solid #cacaca
}
.dataTables_wrapper input[type="text"], .dataTables_wrapper select {
	background-color:#fcfcfc;
	border:1px solid #d1d1d1;
	padding:3px;
	outline:0;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:background 150ms linear;
	-moz-transition:background 150ms linear;
	-ms-transition:background 150ms linear;
	-o-transition:background 150ms linear;
	transition:background 150ms linear
}
.dataTables_wrapper input[type="text"]:focus, .dataTables_wrapper select:focus {
	border-color:#bbc1c9;
	background-color:#fff
}
.dataTables_wrapper .dataTables_paginate {
	padding:9px 8px
}
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_previous, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_next, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_previous, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_next, .dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button, .dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active {
	display:inline-block;
	background-color:#f3f3f3;
	cursor:pointer;
	line-height:1;
	outline:0;
	border:1px solid #b1b1b1;
	text-align:center;
	margin-left:6px;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.35);
	-o-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.35);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.35);
	box-shadow:0 1px 1px rgba(0,0,0,0.15), inset 0 1px 1px rgba(255,255,255,0.35)
}
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_previous, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_next, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_previous, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_next {
	width:20px;
	height:20px;
	text-indent:-9999px
}
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button, .dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active {
	width:auto;
	padding:4px 7px;
	font-size:11px;
	line-height:1;
	color:#444
}
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button:hover, .dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active:hover {
	text-decoration:none
}
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_next, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_next {
	background-image:url(../images/dt-arrow-right.png)
}
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_previous, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_previous {
	background-image:url(../images/dt-arrow-left.png)
}
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_next, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_previous, .dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button.paginate_button_disabled {
	background-color:#fefefe;
	border-color:#e0e0e0;
	cursor:default;
	color:#ccc;
	-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.5);
	-o-box-shadow:inset 0 1px 1px rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.5);
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.5)
}
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_previous:active, .dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_next:active, .dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button:not(.paginate_button_disabled):active, .dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active:not(.paginate_button_disabled):active {
	background-color:#efefef;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)
}
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active:not(.paginate_button_disabled):active {
	background-color:#a9ca60
}
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active {
	background-color:#00BA8B;
	border-color:#00BA8B;
	color:#fff
}
.dataTables_wrapper table thead th.sorting_asc, .dataTables_wrapper table thead th.sorting_desc, .dataTables_wrapper table thead th.sorting {
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
	padding-right:19px
}
.dataTables_wrapper table thead th.sorting {
	background-image:url(../images/sort.png)
}
.dataTables_wrapper table thead th.sorting_asc {
	background-image:url(../images/sort_asc.png)
}
.dataTables_wrapper table thead th.sorting_desc {
	background-image:url(../images/sort_desc.png)
}
.dataTables_wrapper table tr.odd td.sorting_1 {
	background-color:#f0f0f0
}
.dataTables_wrapper table tr.even td.sorting_1 {
	background-color:#f8f8f8
}
pre, code {
	font-family:"Courier New", Courier, monospace
}
hr {
	border:0 #ccc solid;
	border-top-width:1px;
	clear:both;
	height:0
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal
}
h1 {
	font-size:21px
}
h2 {
	font-size:19px
}
h3 {
	font-size:17px
}
h4 {
	font-size:16px
}
h5 {
	font-size:15px
}
h6 {
	font-size:14px
}
blockquote {
	border-left:4px solid #a6d037;
	font-size:14px;
	padding:10px;
	font-style:italic
}
ol {
	list-style:decimal
}
ul {
	list-style:disc
}
li {
	margin-left:30px
}
pre li, code li {
	margin-left:0
}
/*p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {
	margin-bottom:20px
}*/
table, address, fieldset, figure {
	margin-bottom:20px
}
.da-wizard-nav ul:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
* html .da-wizard-nav ul {
	height:1%
}
.da-wizard-nav {
	display:block;
	clear:both;
	margin:0 16px;
	position:relative;
	padding:16px 0
}
.da-wizard-nav ul, .da-wizard-nav ul li {
	margin:0;
	list-style:none
}
.da-wizard-nav ul {
	position:relative
}
.da-wizard-nav ul li {
	display:block;
	z-index:25;
	position:relative;
	float:left;
	background:url(../images/wizard-nav.png) no-repeat right center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-khtml-box-sizing:border-box
}
.da-wizard-nav ul li span, .da-wizard-nav ul li a {
	position:relative;
	text-align:center;
	display:block;
	width:32px;
	height:32px;
	line-height:32px;
	margin:4px 0;
	float:right;
	color:#545454;
	z-index:20;
	text-shadow:1px 1px 0 #fff;
	font-weight:bold;
	text-decoration:none
}
.da-wizard-nav ul li.active span, .da-wizard-nav ul li.active a {
	text-indent:-9999px;
	background:url(../images/icons/color/asterisk_orange.png) no-repeat center center
}
.da-wizard-nav ul li.done span, .da-wizard-nav ul li.done a {
	text-indent:-9999px;
	background:url(../images/icons/color/accept.png) no-repeat center center
}
.da-wizard-nav ul li span img, .da-wizard-nav ul li a img {
	max-width:16px;
	max-height:16px;
	margin:8px
}
.da-wizard-nav ul li.done span.da-wizard-label, .da-wizard-nav ul li.active span.da-wizard-label {
	color:#444
}
.da-wizard-nav ul li.active span.da-wizard-label {
	font-weight:bold
}
.da-wizard-nav ul li span.da-wizard-label {
	display:block;
	margin:0;
	line-height:16px;
	clear:both;
	width:auto;
	height:auto;
	color:#868686;
	font-weight:normal;
	margin-bottom:-16px;
	background:none!important;
	text-align:right;
	white-space:nowrap;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis
}
.da-wizard-nav .da-wizard-progress {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:16px 0;
	z-index:15
}
.da-wizard-nav .da-wizard-progress, .da-wizard-nav.green .da-wizard-progress {
	background-color:#cef576
}
.da-wizard-nav.red .da-wizard-progress {
	background-color:#e67474
}
.da-wizard-nav.blue .da-wizard-progress {
	background-color:#85b8e6
}
.da-wizard-form fieldset {
	border-top:0;
	border-bottom:1px solid #d3d3d3
}
.da-wizard-form {
	margin-top:16px;
	border-top:1px solid #d3d3d3
}
/*-- Marketing -- */
#left {
	float:left;
	width:50%
}
#right {
	float:right;
	width:50%
}
.new-table-boxes {}
.new-table-boxes th { width:  auto !important; font-size: 11.5px !important; padding: 11px 5px !important;}
/*-- End Marketing -- */
