body, div, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, th, td, img
{ margin:0; padding:0; border:0; /*font-family: Arial, Helvetica, sans-serif;*/ }
.clear{clear:both;}
*{ outline:none;}
.hide{display:none;}
*::-moz-selection { background: none repeat scroll 0 0 #00bff3; color: #FFF; }

/*h3 { font-size: 20px; color: #7d7d7d; font-weight: normal; padding: 0px 0px 20px 0px; }*/

/*p{ font-size: 12px; color: #464646; line-height: 18px; text-align:justify;  padding: 5px 0px 5px 0px;}*/
/*a { color: #464646; text-decoration: none; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; }
a:hover { color: #000; text-decoration: underline; }*/

.wrapper-main { width: 100%; height: auto; display: table; }

/*.header-wrapper { width: 100%; height: 70px;  background:  url(../images/header-bg.png) repeat-x top left; padding: 0px 0px 0px 0px;}*/
/*.logo { width: 92px; height: 68px; float: left;}*/
.header-right-section { /*width: 500px;*/ width: 175px; height: 68px; float: right;}
.settings-icon { width: 47px; height: 68px; float: right; padding: 0px 7px 0px 0px;}
.home-but { width: 152px; height: 68px; float: right;}
.home-but a { width: 152px; height: 68px; background: url(../images/top-menus.png) no-repeat left top -7px; display: block; transition: none; }
.home-but a:hover { width: 152px; height: 68px; background: url(../images/top-menus.png) no-repeat left top -90px; }
.change-pass-but { width: 176px; height: 68px; float: right;}
.change-pass-but a { width: 176px; height: 68px; background: url(../images/top-menus.png) no-repeat left -152px top -7px; display: block; transition: none; }
.change-pass-but a:hover { width: 176px; height: 68px; background: url(../images/top-menus.png) no-repeat left -152px top -90px; }
.logout-but { width: 115px; height: 68px; float: right;}
.logout-but a { width: 115px; height: 68px; background: url(../images/top-menus.png) no-repeat left -328px top -7px; display: block; transition: none; }
.logout-but a:hover { width: 115px; height: 68px; background: url(../images/top-menus.png) no-repeat left -328px top -90px; }
.content-wrapper { 
    width: 100%; 
    height: auto; 
    /*background: url(../images/texture-bg.png) repeat left top;
    background: #f9f6f1; */
    /*min-height: 550px;*/
}
.head-search-section { width: 100%; height: 55px;  border:0px solid #000; }
.hed-search { width: 285px; height: auto; float: left; padding: 17px 0px 0px 17px;}  
.head-search-fld { width: 250px; height: 33px;  background: #FFF; border: 1px solid #bababa; padding: 0px 10px; margin-right: 5px; border-radius: 4px;}
.head-search-but { color: #FFF; font-size:18px; float: left; text-decoration: none; border: 0px; cursor: pointer; padding: 5px 10px; background-color: #ff313e; background-image: linear-gradient(to bottom, #ff82a1, #ff313e); border-radius: 4px;}
.head-search-but:hover { background-color: #B2D157; background-image: linear-gradient(to bottom, #B2D157, #64A434); }
.hed-search-small { width: 285px; height: auto; float: left; padding: 15px 0px 0px 10px;}
.hed-search-small-fld { width: 173px; height: 25px; float: left; background: #FFF; border: 1px solid #bababa; padding: 0px 10px; margin-right: 5px; border-radius: 4px;}
.hed-search-small-but { color: #FFF; font-size:15px; float: left; text-decoration: none; border: 0px; cursor: pointer; padding: 2px 10px 5px; background-color: #ff313e; background-image: linear-gradient(to bottom, #858585, #4A4A4A); border-radius: 3px; }
.hed-search-small-but:hover { background-color: #B2D157; background-image: linear-gradient(to bottom, #B2D157, #64A434); }
.hed-main-date { width: 250px; height: auto; display: table; margin:0px auto; padding-top: 6px;}
.hed-main-date .prev_day { display:table-cell; vertical-align: middle; }
.hed-main-date .next_day { display:table-cell; vertical-align: middle; }
.hed-date-main-box { height: auto; display: table-cell; font-size: 20px; color: #3a2c70; white-space: nowrap; padding: 0px 5px; vertical-align: middle; }
.hed-date-left-arrow { width: 17px; height: 17px; float: left;  background: url(../images/e-maid-icons.png) no-repeat left top; border: 0px;  -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; cursor: pointer; }
.hed-date-left-arrow:hover { background: url(../images/e-maid-icons.png) no-repeat left -18px top;}
.hed-date-right-arrow { width: 17px; height: 17px; float: left; background: url(../images/e-maid-icons.png) no-repeat right top; border: 0px;  -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; cursor: pointer; }
.hed-date-right-arrow:hover  { background: url(../images/e-maid-icons.png) no-repeat right -18px top;}
.hed-date-calender-icon { 
    width: 18px; 
    height: 17px;  
    display: table-cell; 
    vertical-align: middle;
    padding-left: 10px; 
}
.hed-date-calender-icon span {
    width: 18px; 
    height: 17px; 
    background: url(../images/e-maid-icons.png) no-repeat left top -31px; 
    display: block; 
    transition: none; 
    cursor: pointer; 
/*    margin-top: 6px; */
    border-radius: 0px;
}
.hed-date-calender-icon span:hover { 
    width: 18px; 
    height: 17px; 
    background: url(../images/e-maid-icons.png) no-repeat left -18px top -31px; 
}
.hed-main-button { width: auto; height: 36px; padding-right: 10px;}
.hed-main-button ul { list-style: none; margin: 0px; padding: 0px;}
.hed-main-button li { display: inline; font-size: 14px; color: #FFF; line-height: 30px; font-weight: bold; text-transform: uppercase; }
.hed-main-button li span { color: #FFF; background: #68025c; text-decoration: none; padding: 6px 20px; margin-left: 1px; cursor: pointer;border-radius: 5px;}
.hed-main-button li span:hover { background: #6b81b0 ;}
.table-head-main-wrapper { width: 100%; height:auto; margin: 0 auto; padding-bottom: 50px; }
.table-content-main { width: auto; height:auto; border: 1px solid #479f2f; margin: 0px 10px; position: relative; }
.hed-time-left-arrow { width: 17px; height: 17px; float: right; background: url(../images/e-maid-icons.png) no-repeat left top; border: 0px;  -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; cursor: pointer; margin-right: 10px; margin-top: 10px; }
.hed-time-left-arrow:hover { background: url(../images/e-maid-icons.png) no-repeat left -18px top;}
.hed-time-right-arrow { width: 17px; height: 17px; float: left; background: url(../images/e-maid-icons.png) no-repeat right top; border: 0px;  -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; cursor: pointer;  margin-top: 10px; }
.hed-time-right-arrow:hover  { background: url(../images/e-maid-icons.png) no-repeat right -18px top;}

/*--------------: GREEN, BLUE, ORANGE HEADING:-------------- ( just change class name in htlm )*/

.green-head { width: 100%; height: 39px; background: #238d37; background-image: linear-gradient(to bottom, #479f2f, #12853a);}
.blue-head { width: 100%; height: 39px; background: #04aae4; background-image: linear-gradient(to bottom, #1abff7, #04aae4);}
.orange-head { width: 100%; height: 39px; background: #f88920; background-image: linear-gradient(to bottom, #fbad15, #f88920);}
.hed-maid-name { width: 15%; height:auto; float: left; color: #FFF; font-size: 12px; line-height: 35px; padding: 0px 0px 0px 10px;}
.hed-maid-time { width: 7.4%; height:auto; float: left; color: #FFF; font-size: 12px; line-height: 35px; text-align: center; padding: 0px 0px 0px 0px;}
.ash-table-section { width: 100%; min-height: 60px; border-bottom: 1px solid #E4E4E4;}
.ash-maid-name { width: 15%; min-height: 60px; float: left; color: #333; font-size: 13px; line-height: 18px; padding: 43px 0px 0px 10px; border-left: 1px solid #D6D6D6;}
.ash-maid-time { width: 7.5%; min-height: 103px; float: left; border-left: 1px solid #d6d6d6; display: block; background: url(../images/dotted-line.png) repeat-y left 50% top;}

/*--------------: GREEN POP UP SCALE:-------------- ( just change class name in htlm )*/

.green-scale-main-box { width: auto; height:auto; background: url(../images/e-maid-icons.png) no-repeat left -387px top -72px; position: absolute; left: 23.3%; top: 51%; padding-left: 4px; z-index: 999;}
.green-scale-bg-box { width: auto; height:auto; background: #238d37; background-image: linear-gradient(to bottom, #479f2f, #12853a); padding: 1px 3px 3px 0px;}
.green-scale-text-box { width: auto; height:auto; float: left; font-size: 12px; color: #FFF; line-height: 15px; padding: 5px 10px 0px 10px;}
.green-white-box { width: auto; height: auto; float: left; font-size: 11px; color: #333; background: #FFF; padding: 5px 8px; border-radius: 2px; margin-top: 2px;}

/*--------------: ORANGE POP UP SCALE:-------------- ( just change class name in htlm )*/

.orange-scale-main-box { width: auto; height:auto; background: url(../images/e-maid-icons.png) no-repeat left -387px top -72px; position: absolute; left: 23.3%; top: 51%; padding-left: 4px; z-index: 999;}
.orange-scale-bg-box { width: auto; height:auto; background: #f88920; background-image: linear-gradient(to bottom, #fbad15, #f88920); padding: 1px 3px 3px 0px;}
.orange-scale-text-box { width: auto; height:auto; float: left; font-size: 12px; color: #FFF; line-height: 15px; padding: 5px 10px 0px 10px;}
.orange-white-box { width: auto; height: auto; float: left; font-size: 11px; color: #333; background: #FFF; padding: 5px 8px; border-radius: 2px; margin-top: 2px;}

/*--------------: BLUE POP UP SCALE:-------------- ( just change class name in htlm )*/

.blue-scale-main-box { width: auto; height:auto; background: url(../images/e-maid-icons.png) no-repeat left -387px top -72px; position: absolute; left: 23.3%; top: 51%; padding-left: 4px; z-index: 999;}
.blue-scale-bg-box { width: auto; height:auto; background: #04aae4; background-image: linear-gradient(to bottom, #1abff7, #04aae4); padding: 1px 3px 3px 0px;}
.blue-scale-text-box { width: auto; height:auto; float: left; font-size: 12px; color: #FFF; line-height: 15px; padding: 5px 10px 0px 10px;}
.blue-white-box { width: auto; height: auto; float: left; font-size: 11px; color: #333; background: #FFF; padding: 5px 8px; border-radius: 2px; margin-top: 2px;}
.footer-wrapper { width: 100%; height:auto; background: #555;}
.footer-main { width: 200px; height: auto; margin: 0 auto; color: #ceced0; font-size: 12px; text-align: center; padding: 15px 0px;}

/*------------------------------------: BLUE POP UP SCALE :------------------------------------*/

.popup_dark-box { width: 100%; height: auto; background: url(../images/dark-bg.png) repeat left top; padding: 180px 0px; }
.popup-main-box { width: auto; height:auto; margin: 0 auto; display: inherit;border-radius: 20px; padding: 0px; /*background: #ccc;*/ }
.green-popup-head { 
    /*width: auto;*/ 
    height: auto;                     
    /*background: #00BB1B;*/ 
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(58, 44, 112) 0%, rgb(106, 0, 91) 100%) repeat scroll 0 0;
    /*background-image: linear-gradient(to bottom, #00BA70, #00BA8B);*/ 
    color: #FFF; 
    font-size: 16px; 
    font-weight: bold; 
    line-height: 25px; 
    padding: 10px 20px; 
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
} 
.green-popup-head span.pop_close { float:right; margin: 0px 0px 0px 0px; cursor: pointer; }
.white-content-box { width:auto; height:auto; padding: 25px 20px 25px 35px; background: #FFF; -webkit-border-bottom-right-radius: 10px;
					 -webkit-border-bottom-left-radius: 10px;
					 -moz-border-radius-bottomright: 10px;
					 -moz-border-radius-bottomleft: 10px;
					 border-bottom-right-radius: 10px;
					 border-bottom-left-radius: 10px;}
.white-content-box #b-error { color:#F00; padding: 0px 0px 0px 153px; font-size: 12px; }
#popup-booking #b-error{ color:#F00; padding: 0px 0px 0px 153px; font-size: 12px; }
.pop-main-cont-fld-box { width: auto; height:auto; padding-bottom: 5px; }
.popup-fld-box-sml03 {
    color: #464646;
    float: left;
    font-size: 13px;
    height: auto;
    line-height: 33px;
    padding: 0 5px 0 0;
    width: auto;
}
.booking_form { display:table; }
.popup-main-box .booking_form .row { display:table-row; }
.popup-main-box .booking_form .row .cell1 { display:table-cell; font-size: 12px; color: #464646; width: 140px; padding:8px 0px 8px 0px; }
.popup-main-box .booking_form .row .cell1 span { background: url(../images/e-maid-icons.png) no-repeat left -2px top -71px; width: 17px; height: 17px; display: inline-block; }
.popup-main-box .booking_form .row .cell1 span.icon_btype { background: url(../images/e-maid-icons.png) no-repeat left -2px top -161px; }
.popup-main-box .booking_form .row .cell1 span.icon_stype { background: url(../images/e-maid-icons.png) no-repeat left -2px top -206px; }
.popup-main-box .booking_form .row .cell1 span.icon_time { background: url(../images/e-maid-icons.png) no-repeat left -2px top -261px; }
.popup-main-box .booking_form .row .cell1 span.icon_lock { background: url(../images/e-maid-icons.png) no-repeat left -2px top -308px; }
.popup-main-box .booking_form .row .cell1 span.icon_note { background: url(../images/e-maid-icons.png) no-repeat left -2px top -357px; }
.popup-main-box .booking_form .row .cell1 span.icon_notification { background: url(../images/e-maid-icons.png) no-repeat right -153px top -268px; }
.popup-main-box .booking_form .row .cell2 { display:table-cell; font-size: 12px; color: #464646; width: 3px; padding: 8px 0px 8px 0px; }
.popup-main-box .booking_form .row .cell3 { display:table-cell; font-size: 12px; color: #464646; width: 320px; padding:8px; }
.popup-main-box .booking_form .row .cell3 label { display: inline-block; margin-bottom: 0px; font-size: 12px; line-height: normal; }
.popup-main-box .booking_form .row .cell3 .sel2 { font-size:12px !important; width:320px !important; }
.popup-main-box .booking_form .row .cell3 .sel2.small { width:100px !important; }
.popup-main-box .sms_field{display: inline-flex;}
.popup-main-box .sms_field .sms_content{padding-left: 25px; display: none;}
.popup-main-box .sms_field .sms_content label{padding: 0 15px;}
.popup-main-box .sms_calender{display: none;}
.mr15 { margin-right: 15px; }
.popup-main-box .booking_form .row .cell3 .end_datepicker { width:100px; font-size:13px; margin: 0px; height: auto; }
.popup-main-box .booking_form .row .cell3 input[type=checkbox] { margin: 6px 0px 0px 0px; vertical-align: bottom; }
#repeat-days, #repeat-ends { display: none; }
#repeat-days .cell3 label { margin-right:4px; }
#repeat-ends .cell1, #repeat-ends .cell2, #repeat-ends .cell3 { padding-bottom:0px; }
#repeat-ends .cell3 input[type=radio] { margin:0px; vertical-align: top; }
.popup-note-fld { width: 465px; height: 70px; border: 1px solid #CCCCCC; border-radius: 3px; padding: 3px; font-family: Arial, Helvetica, sans-serif; font-size:12px;}
.pop-main-button { width: 473px; height:auto; padding: 5px 0px 0px 0px; }
.save-but { color: #FFF; text-transform: uppercase; font-size:14px; float: left; text-decoration: none; border: 0px; cursor: pointer; padding: 6px 15px;
background: rgb(63,48,125);
background: -moz-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(63,48,125)), color-stop(100%, rgb(195,5,167)));
background: -webkit-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -o-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -ms-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: linear-gradient(135deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f307d', endColorstr='#c305a7', GradientType=1 );
border-radius: 4px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; margin-right: 20px;}
.save-but:hover { color: #FFF; background: #555;}
.cancel-but { color: #FFF; font-size:17px; float: left; text-decoration: none; border: 0px; cursor: pointer; padding: 5px 18px; background-color: #ff313e; background-image: linear-gradient(to bottom, #ff82a1, #ff313e); border-radius: 4px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;}
.cancel-but:hover { color: #f00; background-color: #434343; background-image: linear-gradient(to bottom, #43ACB0, #434343); }
.delete-but { color: #FFF; font-size:17px; float: right; text-decoration: none; border: 0px; cursor: pointer; padding: 5px 18px; background-color: #ff313e; background-image: linear-gradient(to bottom, #ff82a1, #ff313e); border-radius: 4px; font-weight: bold; font-family:Arial, Helvetica, sans-serif;}
.delete-but:hover { background-color: #B2D157; background-image: linear-gradient(to bottom, #B2D157, #64A434); }
.copy-but { color: #FFF; text-transform: uppercase; font-size:14px; float: left; text-decoration: none; border: 0px; cursor: pointer; padding: 6px 15px; background-color: #52c88d; border-radius: 4px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; margin-right: 20px;}
.copy-but:hover { color: #C9E86E; background-color: #434343; background-image: linear-gradient(to bottom, #43ACB0, #434343);  }

.email-but { color: #FFF; text-transform: uppercase; font-size:14px; float: right; text-decoration: none; border: 0px; cursor: pointer; padding: 6px 15px; background-color: #B2D157; background-image: linear-gradient(to bottom, #B2D157, #64A434); border-radius: 4px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; margin-right: 20px;}
.mm-btn{
    background: rgb(63,48,125);
background: -moz-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(63,48,125)), color-stop(100%, rgb(195,5,167)));
background: -webkit-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -o-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -ms-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: linear-gradient(135deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f307d', endColorstr='#c305a7', GradientType=1 );
    color: white;
    
	
}
.mm-btn:hover,
.mm-btn:focus,
.mm-btn:active,
.mm-btn.active {
  background-color: #357ebd;
  border-color: #3071a9;
  color: #ffffff;
}

.mm-btn-success{
    background-color: #7eb216;
    background-image: linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.mm-btn-success:hover, .mm-btn-success:active, .mm-btn-success.active, .mm-btn-success.disabled, .mm-btn-success[disabled]{
    background-color: #6e9b13;
    color: white;
}
.mm-btn-info{
    background-color: #4eb2d5;
    background-image: linear-gradient(rgba(78, 178, 213, 0), rgba(7, 23, 29, 0.1));
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.mm-btn-info:hover, .mm-btn-info:active, .mm-btn-info.active, .mm-btn-info.disabled, .mm-btn-info[disabled]{
    background-color: #35a7cf;
    color: white;
}
.mm-btn-warning{
    background-color: #f5a732;
    background-image: linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.mm-btn-warning:hover, .mm-btn-warning:active, .mm-btn-warning.active, .mm-btn-warning.disabled, .mm-btn-warning[disabled]{
    background-color: #f49a15;
    color: white;
}
.mm-btn-success, .mm-btn-success:hover, .mm-btn-info, .mm-btn-info:hover, .mm-btn-warning, .mm-btn-warning:hover{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.deletejobbutton{
    font-size: 13px;
    padding: 4px 10px;
    background-color: #ef4836;
    color: white;
    float:right;
    margin:10px 10px 10px 0;
    line-height: 18px;
    cursor:pointer;
}
.deletejobbutton:hover{
    background: #ea2813;
    color: white;
}
.invoicejobbutton{
    font-size: 13px;
    padding: 4px 10px;
    background-color: #5c9bd1;
    color: white;
    float:right;
    margin:10px;
    line-height: 18px;
    cursor:pointer;
}
.invoicejobbutton:hover{
    background: #3c87c8;
    color: white;
}
#alert-popup #delete-permanent-job{
    background: #ff313e none repeat scroll 0 0;
    border: 1px solid #ff313e;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    margin-right: 20px;
}
#alert-popup #delete-one-day-job{
    background: #ff6279 none repeat scroll 0 0;
    border: 1px solid #ff6279;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    margin-right: 20px;
}
.save-but-job { color: #FFF; text-transform: uppercase; font-size:14px; float: left; text-decoration: none; border: 0px; cursor: pointer; padding: 6px 15px; background-color: #B2D157; background-image: linear-gradient(to bottom, #B2D157, #64A434); border-radius: 4px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; margin-right: 20px;}
.save-but-job:hover { color: #FFF; background: #555;}
.popup-main-box #customer-detail-popup .booking_form .row .cell1 { padding:12px 0px 12px 0px; font-size: 12px !important; }
.popup-main-box #customer-detail-popup .booking_form .row .cell2 { padding:12px 0px 12px 0px; font-size: 12px !important; }
.popup-main-box #customer-detail-popup .booking_form .row .cell3 { padding:12px 0px 12px 0px; font-size: 12px !important; width: 220px;}

.popup-main-box #customer-add-popup .booking_form .row .cell1 { padding:12px 0px 12px 0px; font-size: 12px !important; width: 140px !important; }
.popup-main-box #customer-add-popup .booking_form .row .cell2 { padding:12px 5px 12px 5px; font-size: 12px !important; }
.popup-main-box #customer-add-popup .booking_form .row .cell3 { padding:12px 0px 12px 0px; font-size: 12px !important; width: 220px;}
.popup-main-box #customer-add-popup .booking_form .row .cell3 .sel2{width: 220px !important;}
/*#customer-detail-popup .booking_form{margin-left: 20px;}*/


/*------------------------------------: ADD CUSTOMER :------------------------------------*/

.ad-content-main-box { max-width: 100%; width: auto; height: auto; margin: 0 auto; }
.ad-content-hed-main { width: auto; height: auto; display: table; margin: 0 auto; background: #fafafa; background-image: url(../images/main-border-bg-lft.png), url(../images/main-border-bg-rit.png); background-position:left top, right top; background-repeat: repeat-y; border-radius: 9px; -moz-border-radius: 15px 15px 8px 8px; -webkit-border-radius: 15px 15px 8px 8px; border: 1px solid #FFF; }
.ad-content-hed-lft-cor { width: 38px; height: 41px; float: left; background: url(../images/ash-cornner.png) no-repeat left bottom; }
.ad-content-hed-rgt-cor { width: 38px; height: 41px; float: left; background: url(../images/ash-cornner.png) no-repeat left top; }
.ad-content-main-area { width: auto; min-width: 700px; height: auto; background: #fafafa; float: left;}
.ad-content-heding { width: auto; min-width: 700px; height: 41px; background: url(../images/strock-bg.png) repeat left top #fafafa; }
.ad-content-area { width: auto; min-width: 700px; height: auto; background: #fafafa; }
.ad-content-heding-txt { width: auto; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #ff7223; line-height: 40px; text-transform: uppercase; float: left; }
.ad-content-heding-link { width: auto; height: 41px; float: right; font-size: 11px; color: #636363; line-height: 39px; }
.ad-content-heding-link a { color: #636363; font-size: 11px; line-height: 39px; text-decoration: none; background: url(../images/white-arrow.png) no-repeat left 3px; padding: 0px 13px 0px 13px; margin-left: 7px;} 
.ad-content-heding-link a:hover {color: #FF313E; text-decoration: underline;}
.table-blu-hed {  font-family: Arial, Helvetica, sans-serif; color: #FFF; font-size: 16px; background: #448bbe; padding: 5px 0px; text-align: center; border-right: 1px solid #53a5d4;  border-left: 1px solid #3a7db5; }
.table-cont-box1 {  font-family: Arial, Helvetica, sans-serif; color: #777676; font-size: 14px; background: #e2e2e2; padding: 5px 0px; text-align: center; border-right: 1px solid #FFF;  border-left: 1px solid #d1d1d1; }
.table-cont-box2 { font-family: Arial, Helvetica, sans-serif; color: #777676; font-size: 14px; background: #FFF; padding: 5px 0px; text-align: center; border-right: 1px solid #FFF;  border-left: 1px solid #d1d1d1; }
.table-cont-box-border { box-shadow: 0 0 1px #D5D5D5; }
.ad-save-but { width: 96px; height: 35px; float: left; background: url(../images/save.png) no-repeat left bottom; border: 0px; cursor: pointer; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s;}
.ad-save-but:hover { background: url(../images/save.png) no-repeat left top; }
.fild-main-box-big { width: 500px; float: left; height: auto; padding: 5px 0px 30px 0px;}
.fild-main-box-big-rit { width: 455px; float: left; height: auto; padding: 5px 0px 5px 0px;}
.ad-cont-box-main-content { width: auto; height:auto; padding: 30px 0px 0px 0px;}
.fild-main-box { width: 500px; height: auto; padding: 5px 0px 5px 0px;}
.fild-main-box-rit { width: 450px; height: auto; padding: 5px 0px 5px 0px;}
.fild-name { width: 130px; height: auto; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #444; line-height: 20px; padding: 6px 0px 0px 0px;}
.fild-name span { float: right;}
.fild-box { width: 325px; height: auto; float: left; padding: 0px 0px 0px 20px;}
.fild-box-rit { width: 300px; height: auto; float: left; padding: 0px 0px 0px 20px;}
.inner-button { font-family: Arial, Helvetica, sans-serif; font-size:15px; color: #FFF; float: left; text-transform: uppercase; text-decoration: none; border-radius: 3px; padding: 7px 18px; cursor: pointer; background: url(../images/inner-but-bg.png) repeat-x left top; border: 0px; margin-top: 15px; text-transform: uppercase;}
.inner-button:hover { color: #90eb21;}
.ad-content-wrapper { width: 100%; height: auto; padding: 50px 0px; }
.in-bookingform-field { width: 270px; height: 37px; color: #555; font-size: 14px; float: left; border: 1px solid #DBDBDB; border-radius: 4px; padding: 0px 15px 0px 15px; line-height: 39px; }
.in-bookingform-field:focus { border: 1px solid #3CF;}
.in-bookingform-field-date { width: 300px; height: 37px; color: #555; font-size: 14px; float: left; /*background: url(../images/inner-fld-date.png) no-repeat left top;*/ border: 1px solid #DBDBDB; border-radius: 4px; padding: 0px 15px 0px 15px;   }
.in-bookingform-field-droop-main { width: 300px; float: left; overflow: hidden; margin-right: 20px; }
.in-bookingform-field-droop { width: 300px; height: 37px; color: #555; font-size: 14px; float: left;/* background: url(../images/inner-fld-droop.png) no-repeat left top;*/ border: 1px solid #DBDBDB; border-radius: 4px; padding: 7px 7px 6px 12px; }
.in-bookingform-field-droop:focus { border: 1px solid #3CF;}
.in-bookingform-text-area { width: 278px; height: 60px; font-family: Arial, Helvetica, sans-serif; color: #555; font-size: 14px; float: left; padding: 5px 5px 5px 15px; line-height: 19px; border: 1px solid #e2dfdf; border-radius: 3px;}
.in-bookingform-text-area:focus { border: 1px solid #3CF;}
.in-bookingform-field-sml { width: 28px; height: 33px; color: #555; font-size: 14px; float: left;  padding: 0px 5px 0px 5px; text-align: center; line-height: 39px; border: 1px solid #e2dfdf;  border-radius: 3px; }

/*------------------------------------:  USER PROFILE :------------------------------------*/

.n-cont-head { min-width: 700px; height: auto; color: #464646; padding: 0px 0px 0px 0px;} 
.n-cont-head span { width: auto; height: auto; color: #464646; font-size: 14px; float: right; padding-right: 15px; background: url(../images/logout-icon.png) no-repeat left top; padding: 0px 0px 0px 22px; }
.n-content-main-box { min-width: 700px; height: auto; border-radius: 12px; margin-top: 20px; margin-bottom: 30px;}
.n-content-box-01 { width: 940px; height: auto; padding: 30px 0px 0px 0px;}
.n-content-box-01-cont { width: 820px; height: auto; float: left; padding: 0px 0px 0px 0px;}
.n-content-box-01-img-main { width: 119px; height: 154px; float: left; padding: 0px 0px 0px 0px;}
.n-content-box-01-img { width: 109px; height: 114px; box-shadow: 1px 0 10px #C1C1C1; border: 5px solid #FFFFFF; margin-bottom: 10px; padding: 0px 0px 0px 0px;}
.n-content-box-01-but { width: 119px; height: auto; text-align: center; background: #a9a9ad; border-radius: 3px; padding: 0px 0px 0px 0px; overflow: hidden;}
.n-content-box-01-but a { color: #FFF; font-size: 12px; text-decoration: none; padding: 3px 0px; display: block;}
.n-content-box-01-but a:hover { color: #FFF; background: #ff7223;}
.n-cont-boxes { width: 750px; height: auto; padding: 0px 0px 20px 0px;}
.n-cont-boxes1 { width: 110px; height: auto; color: #898989; font-size: 13px; float: left; padding: 0px 0px 0px 0px;}
.n-cont-boxes2 { width: 25px; height: auto; color: #898989; font-size: 13px; float: left; padding: 0px 0px 0px 0px;}
.n-cont-boxes3 { width: 300px; height: auto; color: #898989; font-size: 13px; float: left; padding: 0px 0px 0px 0px;}
.n-profile-main-tab { width: 940px; height: auto; padding: 0px 0px 0px 0px;}
.n-pro-con-min { width: 905px; height: auto; padding: 0px 0px 0px 13px; border-bottom: 1px dotted #CCC; }
.n-pro-con-min-1 { width: 250px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; text-transform: uppercase; float: left; border-right: 1px dotted #CCC;  padding: 15px 0px 15px 0px; }
.n-pro-con-min-2 { width: 171px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; text-transform: uppercase; float: left; border-right: 1px dotted #CCC; padding: 15px 0px 15px 20px; }
.n-pro-con-min-3 { width: 170px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; text-transform: uppercase; float: left; border-right: 1px dotted #CCC; padding: 15px 0px 15px 20px; }
.n-pro-con-min-4 { width: 250px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; text-transform: uppercase; float: left; padding: 15px 0px 15px 20px; }
.n-pro-con-min-5 { width: 250px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; float: left; border-right: 1px dotted #CCC; padding: 15px 0px; }
.n-pro-con-min-5 span { font-weight: bold; padding-left: 15px;}
.n-pro-con-min-6 { width: 171px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; float: left; border-right: 1px dotted #CCC; padding: 15px 0px 15px 20px; }
.n-pro-con-min-7 { width: 170px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; float: left; border-right: 1px dotted #CCC; padding: 15px 0px 15px 20px; }
.n-pro-con-min-8 { width: 250px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #F00; float: left; padding: 15px 0px 15px 20px; }
.n-pro-con-min-8 span { font-weight: bold; font-size: 16px; }
.n-pro-con-min-9 { width: 250px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #39b54a; float: left; padding: 36px 0px 0px 20px; }
.n-pro-con-min-9 span { font-weight: bold; font-size: 16px; }
.n-pro-con-min-10 { width: 250px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; float: left; border-right: 1px dotted #CCC; padding: 5px 0px 13px 0px;}
.n-pro-con-min-10 span { font-weight: bold; padding-left: 15px;}
.n-pro-con-min-11 { width: 171px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; float: left; border-right: 1px dotted #CCC; padding: 36px 0px 0px 20px; }
.n-pro-con-min-12 { width: 170px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999; float: left; border-right: 1px dotted #CCC; padding: 36px 0px 0px 20px; }
.n-maid-img-box { width: 51px; height: 68px; float: left; padding: 10px 0px 0px 0px;}
.n-maid-img { width: 51px; height: 49px; float: left; padding: 0px 0px 0px 0px;}
.n-maid-img-but { width: 51px; height: 19px; float: left; padding: 0px 0px 0px 0px;}
.n-maid-img-but a { width: 51px; height: 19px; float: left; background: url(../images/more.png) no-repeat left bottom; }
.n-maid-img-but a:hover { width: 51px; height: 19px; background: url(../images/more.png) no-repeat left top; }
.n-maid-nme-min-box { width: 185px; height: 68px; float: left; padding: 10px 0px 0px 10px;}
.n-maid-img-nme01 { width: 185px; height: auto; float: left; padding: 0px 0px 5px 0px;}
.n-maid-img-star { width: 185px; height: auto; float: left; padding: 5px 0px 0px 0px;}
.n-footer-wrapper { width: 100%; height:auto; background: #3d3d3d;}
.n-footer-main { width: 1000px; height:auto; margin: 0 auto; padding-top: 50px; padding-bottom: 50px;}
.n-footer-left { width: 500px; height:auto; float: left; font-size: 12px; color: #FFF; padding: 0px 0px 0px 0px; }
.n-footer-left01 { width: 500px; height:auto; padding: 0px 0px 0px 0px; }
.n-footer-right { width: 250px; height:39px; float: right; background: url(../images/get-email.png) no-repeat left top; padding: 20px 0px 0px 243px; }
.n-footer-follow { width: 30px; height: 30px; float: left; padding-right: 5px; padding-top: 15px;}
.n-header-right-search-but1 { width: 34px; height: 24px; float: left; background: url(../images/go.png) no-repeat right top; border: 0px; cursor: pointer; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; margin-right: 20px;}
.n-header-right-search-but1:hover { background: url(../images/go.png) no-repeat left top; }
.bot-space-div { width: auto; height: 30px;}

/*---------------------: PROFILE DETAILS :------------------------*/

.n-profile-main-tab ul.tabs { font-size: 0; margin:0; list-style-type: none; text-align: left; padding: 0px 0px; }       
.n-profile-main-tab ul.tabs li { display: inline; margin: 0; float: left; }       
.n-profile-main-tab ul.tabs li a { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #FFF; text-decoration: none; position: relative; z-index: 1; outline:none; background: #ceced2; padding: 7px 23px; border: 1px solid #E2E2E2; border-bottom: 0px;  }
.n-profile-main-tab ul.tabs li a:visited { }       
.n-profile-main-tab ul.tabs li a:hover { color: #FFF; background: #969699; }       
.n-profile-main-tab ul.tabs li.selected a {color: #898989; position: relative; top: 0px; background: #f6f6f6; border: 1px solid #E2E2E2; border-bottom: 0px; }
.n-profile-main-tab ul.tabs li.selected a:hover { color: #898989; text-decoration: none; }       
.n-profile-main-tab div.tabcontent { display: block; padding: 10px; }
.n-profile-main-tab div.tabcontents { background: #f6f6f6; border: 1px solid #E2E2E2; margin-top: 6px;}

/*---------------------: LOGIN :------------------------*/

.login-main-box { width: auto; height: auto; display: table; margin: 0 auto; }
.login-box-main { width: 316px; height:auto; background: url(../images/login-bg-top.png) no-repeat center top; padding: 52px 83px 0px 79px; margin: 100px 0px 200px 0px ;}
.login-box-content-section { width: 318px; height:auto; background: #FFF; border: 1px solid #EDEDED; border-top: 0px; padding: 0px 0px; }
.login-box-cont-sec-hed { width: 268px; height:auto; font-size: 21px; color: #000; border-bottom: 1px dashed #E2E2E2; padding: 10px 25px; }
.login-box-cont-sec-content { width: 268px; height:auto; padding: 25px 25px 0px 25px; }
.login-box-cont-sec-content .error { padding-bottom: 5px; }
.login-box-cont-sec-user-fld-main { width: 268px; height: 47px; padding: 0px 0px; }
.login-box-cont-sec-user-fld { width: 228px; height: 47px; background: url(../images/e-maid-icons.png) no-repeat right 240px top -108px; border: 1px solid #CCC; -webkit-border-top-left-radius: 3px;
							   -webkit-border-top-right-radius: 3px;
							   -moz-border-radius-topleft: 3px;
							   -moz-border-radius-topright: 3px;
							   border-top-left-radius: 3px;
							   border-top-right-radius: 3px; padding: 0px 0px 0px 40px; }
.login-box-cont-sec-pass-fld { width: 228px; height: 47px; background: url(../images/e-maid-icons.png) no-repeat right 240px top -154px; border: 1px solid #CCC; -webkit-border-bottom-right-radius: 3px;
							   -webkit-border-bottom-left-radius: 3px;
							   -moz-border-radius-bottomright: 3px;
							   -moz-border-radius-bottomleft: 3px;
							   border-bottom-right-radius: 3px;
							   border-bottom-left-radius: 3px; border-top: 0px; padding: 0px 0px 0px 40px; }
.login-box-cont-rem-main { width: 268px; height: auto; padding: 8px 0px 0px 0px; }
.login-box-cont-rem-box { width: 115px; height:auto; font-size: 13px; float: left; color: #464646; margin: 9px 0px 0px 0px;}
.login-box-cont-rem-box01 { width: 115px; height:auto; font-size: 13px; float: right; text-align: right; color: #464646; margin: 9px 0px 0px 0px;}
.login-box-cont-set-but-main { width: 268px; height: auto; padding: 30px 0px 25px 0px; }
.log-but { color: #FFF; font-size:17px; float: left; text-decoration: none; border: 0px; cursor: pointer; padding: 5px 18px; background-color: #ff313e; background-image: linear-gradient(to bottom, #ff82a1, #ff313e); border-radius: 4px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; width: 100%;}
.log-but:hover { background-color: #B2D157; background-image: linear-gradient(to bottom, #B2D157, #64A434); }
.login-bot-shadow { width: 318px; height: 25px; background: url(../images/login-shadow.png) no-repeat left top; padding: 0px 0px 0px 0px;}

/*------------------------------------: CUSTOMER LISTING :------------------------------------*/

.customer-list-main-heading { width: auto; min-width: 700px; height: 41px;  padding: 10px 0px 0px 13px }
.hed-search-small01 { width: 330px; height: auto; float: left; padding: 7px 60px 0px 0px;}
.hed-search-small01 span { font-size: 13px; font-weight: bold; float: left; line-height: 25px; padding-right: 10px;}
.hed-search-smallller { width: 264px; height: auto; float: left; padding: 7px 0px 0px 0px;}
.hed-search-smallller001 { width: auto; height: auto; float: left; padding: 7px 30px 0px 0px;}
.hed-search-smallller001 h2 { color: #FF6279; float: left;  font-family: Arial,Helvetica,sans-serif; font-size: 18px;  height: auto; line-height: 25px; text-transform: uppercase; font-weight: normal;}
.hed-search-smallller span { font-size: 13px; font-weight: bold; float: left; line-height: 25px; padding-right: 10px;}
.in-bookingform-field-droop-main-small { width: 215px; float: left; overflow: hidden;font-size: 13px; font-weight: bold; line-height: 25px; margin-right: 20px; margin-top: 7px; }
.in-bookingform-field-droop-small { width: 115px; height: 28px; color: #555; font-size: 13px; border: 1px solid #DBDBDB; border-radius: 4px; padding: 3px 4px 3px 3px;  }
.in-bookingform-field-droop-small-topper { width: 173px; height: 28px; float: left; color: #555; font-size: 13px; border: 1px solid #DBDBDB; border-radius: 4px; padding: 3px 4px 3px 3px; margin-right: 3px;  }
.customer-list-cont-main { width: auto; min-width: 700px; height:auto; background: #FFF; border: 1px solid #ECECEC; border-radius: 6px; padding: 0px 0px 0px 0px; overflow: hidden;}
.customer-list-heading { width: 100%; height: 39px; background: #238d37; background-image: linear-gradient(to bottom, #479f2f, #12853a); display: inline-flex;}
.customer-list-no { width: 4%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; text-align: center; padding: 6px 0px 6px 0px; border-right: 1px solid #ebebeb;}
.customer-list-name { width: 19%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.customer-list-contact-no { width: 13%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.customer-list-address { width: 36%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.customer-list-area { width: 15.9%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.customer-list-actions { width: 7%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; }

/*
.pagination { margin: 0 auto; width: auto; text-align: center;}
.page { display: inline-block; padding: 2px 7px; margin-right: 4px; border-radius: 3px; border: solid 1px #c0c0c0; font-size: 12px;  font-weight: bold; text-decoration: none; color: #555;}
.page:hover, .page.gradient:hover { color: #FFF; background: #555; text-decoration: none; border: solid 1px #555; }
.page.active {  color: #FFF; background: #555; margin-right: 4px; padding: 3px 8px; border: 0px;}
.page.gradient { background: #FFF;}
.pagination.dark { background: #414449; color: #feffff;}
.page.dark { border: solid 1px #32373b; background: #3e4347; box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1); color: #feffff; text-shadow: 0px 1px 0px rgba(0,0,0, .5);}
.page.dark:hover, .page.dark.gradient:hover { background: #3d4f5d; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d)); background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);}
.page.dark.active { border: none; background: #2f3237; box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);}
.page.dark.gradient { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347)); background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);}
*/

/*--------------------------: MAID LISTING :------------------------------*/

.customer-list-nationality { width: 20%; height:auto; float: left; color: #FFF; font-size: 12px; line-height: 35px; padding: 3px 0px 0px 10px; border-left: 1px solid #12853a; border-right: 1px solid #479f2f;}
.ash-customer-list-nationality { width: 20%; min-height: 36px; float: left; color: #555; font-size: 12px; line-height: 16px; padding: 15px 0px 0px 10px; border-left: 1px solid #CACACA; border-right: 1px solid #FBFBFB;}

/*-----------------------------: MAID DETAILS :------------------------------*/

.head-search-section-half { width: 50%; height: 55px; margin: 0 auto; }
.table-head-main-wrapper-half { width: 50%; height:auto; margin: 0 auto; padding-bottom: 50px; }
.customer-det-cat { width: 40%; height:auto; float: left; color: #FFF; font-size: 12px; line-height: 35px; text-align: center; padding: 3px 0px 0px 0px; border-right: 1px solid #479f2f;}
.customer-det-cat-det { width: 50%; height:auto; float: left; color: #FFF; font-size: 12px; line-height: 35px; padding: 3px 0px 0px 10px; border-left: 1px solid #12853a;}
.customer-det-cat-no { width: 40%; height:auto; float: left; color: #555; font-size: 12px; line-height: 35px; text-align: left; padding: 8px 0px 0px 15px; border-right: 1px solid #FBFBFB;}
.customer-det-cat-name { width: 50%; min-height: 36px; float: left; color: #555; font-size: 12px; line-height: 18px; padding: 15px 0px 0px 10px; border-left: 1px solid #CACACA;}
.customer-list-small-but-smal {  width: auto; color: #FFF; font-size:12px; float: left; text-decoration: none; border: 0px; cursor: pointer; padding: 8px 10px; background-color: #FF313E; background-image: linear-gradient(to bottom, #FF82A1, #FF313E); border-radius: 3px; }
.customer-list-small-but-sml:hover { background-color: #B2D157; background-image: linear-gradient(to bottom, #B2D157, #64A434); }
.maid-photo { width: 100px; height:100px; margin-bottom: 10px; border: 1px solid #CCC; border-radius: 5px; overflow: hidden;}

.error {color:#F00; font-size:12px;}
.fild-box input[type=radio] { vertical-align: top; margin: 11px 0px; }
.fild-box .rlabel { font-size: 13px; margin: 11px 10px 11px 0px; padding-left: 2px; display: inline-block;}
.fild-box input[type=checkbox] { vertical-align: middle; margin: 5px 0px 5px; }
.fild-box .clabel { font-size: 13px; margin: 8px 15px 0px 0px; padding-left: 2px; display: inline-block;}
.flash_success { background:#E2F9E3; width:auto; margin:0px auto 10px; padding:10px 12px; border-radius:5px; font-size:13px; color: #006600; border:1px solid  #D0E7D1; }
.flash_failure { background:#FCDAE7; width:auto; margin:0px auto 10px; padding:10px 12px; border-radius:5px; font-size:13px; color: #F00; border:1px solid  #EECCD9; }
.ad-content-wrapper .flash_success, .ad-content-wrapper .flash_failure { width:1000px; }
#maid-photo-upload { width: 125px !important; }
#maid-passport-upload { width: 170px !important; }
#maid-visa-upload { width: 150px !important; }
#maid-lc-upload { width: 190px !important; }
#maid-photo-upload:hover, #maid-passport-upload:hover, #maid-visa-upload:hover, #maid-lc-upload:hover { text-decoration: underline; }
#maid-photo-uploaded, #maid-passport-uploaded, #maid-visa-uploaded, #maid-lc-uploaded { display: none; }
#maid-photo-uploaded img, #maid-passport-uploaded img, #maid-visa-uploaded img, #maid-lc-uploaded img { border:1px solid #CCC; width: 100px; height: 100px; }
#remove_maid_photo, #remove_maid_passport, #remove_maid_visa, #remove_maid_lc, #remove_customer_photo, #change_customer_photo, #change_maid_photo, #change_maid_passport, #change_maid_visa, #change_maid_lc { font-size:13px; margin-left: 10px; color:#F00; cursor: pointer; }
#remove_maid_photo:hover, #remove_maid_passport:hover, #remove_maid_visa:hover, #remove_maid_lc:hover, #remove_customer_photo:hover, #change_customer_photo:hover, #change_maid_photo:hover, #change_maid_passport:hover, #change_maid_visa:hover, #change_maid_lc:hover { text-decoration: underline; }
#add-more-address { cursor: pointer; }
#add-more-address:hover { text-decoration: underline; }
.remove_address { color:#F00; font-size: 12px; float:none !important; cursor:pointer; }

/*-----------------------------: CUSTOMER LISTING NEW :------------------------------*/

.customer-list-main-wrapper { width: 100%; height:auto; margin: 0 auto; padding-bottom: 2px; padding-top: 1px }
.customer-list-content-main-strock { width: auto; height:auto; border: 1px solid #FFF; border-radius: 8px; margin: 10px; }
.customer-list-content-main { width: auto; height:auto; border: 1px solid #ebebeb; border-radius: 8px; background: #fafafa; overflow: hidden; }
.customer-list-main-heading { width: auto; height: auto; border-bottom: 1px solid #ebebeb;}
.customer-list-main-heading h2 { color: #FF6279; float: left;  font-family: Arial,Helvetica,sans-serif; font-size: 18px;  height: auto; line-height: 20px; text-transform: uppercase; font-weight: normal; padding-bottom: 8px;}
.customer-list-main-heading-link { width: auto; height: auto; font-size: 11px; color: #636363; float: right; background: url(../images/dark-arrow.png) no-repeat right top; margin-right: 10px; padding: 0px 15px 0px 0px;}
.customer-list-main-heading-link a { color: #636363; font-size: 11px; line-height: 18px; text-decoration: none; background: url(../images/white-arrow.png) no-repeat left 3px; padding: 0px 13px 0px 13px; margin-left: 7px;} 
.customer-list-main-heading-link a:hover {color: #FF313E; text-decoration: underline;}
.customer-search-main-box { width: auto; height: auto; background: #f4f4f4; border-bottom: 1px solid #FFF; border-top: 1px solid #FFF; padding: 3px 15px 10px 15px;}
.customer-list-hed-view { width: auto; height: auto; font-size: 12px; color: #636363; line-height: 18px; float: right; padding: 10px 0px 0px 0px;}

.fleft { float: left; margin-left: 15px; }
.fright { float: right; }
.wauto { width: auto !important; }
.w5p { width: 5%; }
.w10p { width: 10%; }
.w15p { width: 15%; }
.w20p { width: 20%; }
.w12p { width: 12%; }
.w30p { width: 30%; }
.w35p { width: 35%; }
.w40p { width: 40%; }
.w50p { width: 50%; }
.w25p { width: 25%; }
.w8p { width: 8%; }
.pagination { text-align: center; margin: 10px 0px; }

.actions a.view { display:inline-block; width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right -52px top -243px; margin-right: 5px; }
.actions a.view:hover { background: url(../images/e-maid-icons.png) no-repeat right -52px top -268px; }
.actions a.edit { display:inline-block; width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right -26px top -243px; margin-right: 5px; }
.actions a.edit:hover { background: url(../images/e-maid-icons.png) no-repeat right -26px top -268px; }
.actions a.delete { display:inline-block; width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right top -243px; }
.actions a.delete:hover { background: url(../images/e-maid-icons.png) no-repeat right top -268px; }
.actions a.account { display:inline-block; width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right -102px top -243px; margin-right: 5px; }
.actions a.account:hover { background: url(../images/e-maid-icons.png) no-repeat right -102px top -268px; }
.actions a.print { display:inline-block; width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right -128px top -243px; margin-right: 5px; }
.actions a.print:hover { background: url(../images/e-maid-icons.png) no-repeat right -128px top -268px; }
.actions a.mail { display:inline-block; width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right -153px top -243px; margin-right: 5px; }
.actions a.mail:hover { background: url(../images/e-maid-icons.png) no-repeat right -153px top -268px; }

#customer-listing-top { background: #F4F4F4; padding: 10px 20px; font-size: 12px; }
#customer-listing-top .ipr { width:120px; font-size: 13px; }
#customer-listing-top .cstat { width:150px; font-size: 13px; }
#customer-listing-top .per_page { float:left; margin-right: 40px; }
#customer-listing { width:100%; border-top: 1px solid #ebebeb; display: table; }
#customer-listing .row { display: table-row; cursor: pointer; }
#customer-listing .row.customer_row:hover { background: #F2F2F2; }
#customer-listing .row .cell { color: #444; font-size: 12px; line-height: 18px; padding: 8px 6px; border-right: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; display: table-cell; vertical-align: top; }
#customer-listing .row .cell.last { border-right: 0px; }



/*
.customer-listing-main-content-box { width: auto; height:auto; border-top: 1px solid #ebebeb;  padding: 0px 0px; min-height: 450px; }
.customer-listing-main-cont-list-box { width: auto; height:auto; border-bottom: 1px solid #ebebeb;  padding: 0px 0px; }
.customer-list-details-but { width: 17px; height: 17px; border: 0px; cursor: pointer; background: url(../images/e-maid-icons.png) no-repeat right -52px top -243px; }
.customer-list-details-but:hover { width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right -52px top -268px; }
.customer-list-edit-but { width: 17px; height: 17px; border: 0px; cursor: pointer; background: url(../images/e-maid-icons.png) no-repeat right -26px top -243px; margin: 0px 5px;}
.customer-list-edit-but:hover { width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right -26px top -268px; }
.customer-list-delete-but { width: 17px; height: 17px; border: 0px; cursor: pointer; background: url(../images/e-maid-icons.png) no-repeat right top -243px;  }
.customer-list-delete-but:hover { width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right top -268px; }
.customer-listing-main-content-box span { margin: 0px; padding: 0px; line-height: 10px;}
.customer-listing-main-content-box a span .customer-listing-main-cont-list-box { cursor: default; margin: 0px; padding: 0px;}
.customer-listing-main-content-box a:hover span .customer-listing-main-cont-list-box { border: 1px solid #00bff3; background: #FFF; box-shadow: 0px 1px 3px #D9D9D9;}

.customer-list-pagination-main { width: auto; height:auto; padding: 30px 0px 50px 0px; }
*/

/*-----------------------------: CUSTOMER DDTAILS NEW :------------------------------*/

.customer-search-main-box h2 { font-size: 16px; float: left; line-height: 20px; padding: 10px 40px 0px 0px;}
.customer-list-time { width: 9.6%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.customer-list-status { width: 6.6%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; }
.blank-space { width: 100%; height: 30px; }

.customer-listing-main-cont-list-box-half-main { width: 50%; height:auto; float: left; }

.customer-list-invoice-no { width: 5%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; text-align: center; padding: 6px 0px 6px 0px; border-right: 1px solid #ebebeb; }

.customer-listing-main-cont-list-box-half { width: 100%; height:auto; border-bottom: 1px solid #ebebeb; border-right: 1px solid #CCCCCC; padding: 0px 0px; }
.customer-listing-main-cont-list-box-half span { margin: 0px; padding: 0px; line-height: 10px;}
.customer-listing-main-content-box .customer-listing-main-cont-list-box-half a span { cursor: default; margin: 0px; padding: 0px; display: block;}
.customer-listing-main-content-box .customer-listing-main-cont-list-box-half a:hover span { border: 1px solid #00bff3; background: #FFF; box-shadow: 0px 1px 3px #D9D9D9;}

span.no_photo_lbl { display: block !important; padding-top: 33px !important; text-align: center; border: none !important; box-shadow: none !important; }

.customer-list-name-half { width: 30.8%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.customer-list-time-half { width: 20%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.customer-list-date-half { width: 15%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.customer-list-status-half { width: 10.3%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; }
.customer-list-payment-half { width: 15%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-left: 1px solid #ebebeb;}

.heading-half-box { width: 47.8%; float: left;}
.heading-half-box01 { width: 32.3%; float: left;}

.customer-list-name-full { width: 65.7%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px;}

.customer-list-add-but { width: 17px; height: 17px; float: right; border: 0px; cursor: pointer; background: url(../images/e-maid-icons.png) no-repeat right -77px top -243px; margin: 0px 5px;}
.customer-list-add-but:hover { width: 17px; height: 17px; background: url(../images/e-maid-icons.png) no-repeat right -77px top -268px; }
.added-date { width: 150px; height:auto; float: left;}
.personal-det-emaid-photo-fld { width: 30.8%; height: 85px; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb;}
.personal-det-emaid-photo { width: 75px; height:75px; margin: 4px 0px;  border: 1px solid #ebebeb;}
.emaids-active { width: auto; height:auto; background: url(../images/e-maid-icons.png) no-repeat right 40px top -327px; padding-left: 20px; display: inline;}

/*-----------------------------: TOP MAIN MENUS :------------------------------*/
#menu { width: auto; height: 32px; float: right; margin-top: 10px; margin: 40px 0px 0px 0px; }
#menu ul,#menu li,#menu span,#menu a { margin: 0; padding: 0;position: relative;}
#menu:after,#menu ul:after { content: ''; display: block; clear: both;}
#menu a { font-size: 12px; color: #555; font-weight: bold; line-height: 18px; text-transform: uppercase; padding: 6px 20px; text-decoration: none; display: block; }
#menu ul { list-style: none;}
#menu > ul { float: left;}
#menu > ul > li { float: left; line-height: 29px; border-right: 1px solid #DDDDDD; }
#menu > ul > li:first-child > a { border: 0px; }
#menu > ul > li:last-child > a { }
#menu > ul > li.active a {}
#menu > ul > li:hover > a { background: #FFF; text-decoration: none;}
#menu .has-sub { z-index: 999;}
#menu .has-sub:hover > ul { display: block;}
#menu .has-sub ul { width: 235px; display: none; position: absolute; left: 0; margin-top: -1px; top: 31px; box-shadow: 1px 1px 1px #EBEBEB;}
#menu .has-sub ul li { *margin-bottom: -1px; border-bottom: 1px solid #EBEBEB;}
#menu .has-sub ul li:first-child { border-top: 0px;}
#menu .has-sub ul li a { background: #FFF; font-size: 12px; display: block; line-height: 120%; padding: 10px 0 10px 24px; font-weight: bold; text-decoration: none; text-transform: none; }
#menu .has-sub ul li:hover a { color: #00bff3; }

/*-----------------------------: ZONE :------------------------------*/
.customer-list-action-half { width: 20%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px;}
.customer-list-invoice-no-half { width: 8%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; text-align: center; padding: 6px 0px 6px 0px; border-right: 1px solid #ebebeb; border-left: 1px solid #ebebeb; }
.add-zone-button { width: auto; height:auto; float: right; padding: 0px 0px;}
.add-zone-button-sml { width: auto; height:auto; float: right; padding-top: 10px;}
.add-zone-button span { font-size: 11px; color: #444; font-weight: normal; float: right; line-height: 16px; padding: 0px 5px 0px 0px;}
.add-zone-button-sml span { font-size: 11px; color: #444; font-weight: normal; float: right; line-height: 16px; padding: 0px 5px 0px 0px;}
.customer-list-main-wrapper-half { width: 50%; height:auto; margin: 0 auto; padding-bottom: 2px; padding-top: 1px }
.customer-list-content-main-strock-half { width: 100%; height:auto; border: 1px solid #FFF; border-radius: 8px; margin: 10px; }
.customer-list-content-main { width: auto; height:auto; border: 1px solid #ebebeb; border-radius: 8px; background: #fafafa; overflow: hidden; }
.customer-list-name-big { width: 67.7%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 6px 0px 6px 10px; border-right: 1px solid #ebebeb; }
.customer-list-fld-box { width: 30.8%; height:auto; float: left; color: #444; font-size: 12px; line-height: 20px; padding: 0px 0px 0px 10px; border-right: 1px solid #ebebeb; margin-top: 2px;}
.hed-search-small-fld-big { width: 82%; height: 30px; background: #FFF; border: 1px solid #E8E8E8; padding: 0px 10px; margin-right: 5px; border-radius: 4px;}
.hed-search-small-fld-big:focus { border: 1px solid #33CCFF; }
.customer-list-add-zone-but { width: auto; border: 0px; color: #FFF; font-size: 12px; font-weight: bold; border-radius: 2px; cursor: pointer; background-color: #B2D157; background-image: linear-gradient(to bottom, #B2D157, #64A434);padding: 3px 7px 3px; margin-top: 10px; font-family: Arial, Helvetica, sans-serif; }
.customer-list-add-zone-but:hover { width: auto;  background-color: #434343; background-image: linear-gradient(to bottom, #7E7E7E, #434343);color: #C9E86E; }
.zone-add-left-box { width: 40%; height:auto; float: left; padding-top: 25px;  }
.zone-add-right-box { width: 60%; height:auto; float: left; padding-top: 25px;  }
.zone-name-box { width: auto; height:auto; color: #000; font-size: 12px; line-height: 20px; padding: 15px 0px 5px 15px; display: block; }
.zone-name-box span { color: #000; font-size: 13px; font-weight: blod; float: right; padding: 5px 10px 5px 0px; }
.zone-fld-box { width: auto; height:auto; color: #000; font-size: 12px; line-height: 20px; padding: 10px 0px 2px 0px;}
.customer-listing-main-cont-list-box-half-main-half { width: 35%; height:auto; float: left; }
.customer-listing-main-cont-list-box-half-main-half-big { width: 65%; height:auto; float: left; }

/*-----------------------------: AREA :------------------------------*/
.dropdown select {  width: 88%; height: auto;  border: 1px solid #E8E8E8; padding: 7px 10px; margin-right: 5px; border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; background: url(../images/ash-arrow.png) no-repeat right 10px top 10px #FFF; text-indent: 0.01px; text-overflow: ""; cursor: pointer; color: #444; font-size: 13px;}
.select option { text-align: left;}

.padd20 { padding: 20px !important; }
#alert-popup {
	border:none;
	background:#f3f4f6;
	border-radius:5px;
	max-width:550px;
	min-width: 350px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
}
#alert-popup .head {
/*	background-color:#8F1F1B;
	padding:10px;
	color:#FFF;
	font-size:17px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font-weight:bold;*/
        /*width: auto;*/ 
    height: auto;                     
    /*background: #00BB1B;*/ 
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(58, 44, 112) 0%, rgb(106, 0, 91) 100%) repeat scroll 0 0;
    /*background-image: linear-gradient(to bottom, #00BA70, #00BA8B);*/ 
    color: #FFF; 
    font-size: 17px; 
    font-weight: bold; 
    line-height: 25px; 
    padding: 10px; 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
.alert-popup-close {
	background-image:url(../images/pup_close.png);
	background-repeat:no-repeat;
	display:inline-block;
	float:right;
	width:22px;
	height:22px;
	margin:-1px;
	cursor:pointer;
}
#alert-popup .content {
	font-size:15px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#alert-popup input[type=button]
{
	border:1px solid #0F9DDB;
	background:#52c88d;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:5px 10px;
	font-size:14px;
	border-radius:5px;
	cursor:pointer;
}
#alert-popup .cancel_btn {
	background:#F60 !important;
	border:1px solid #F60 !important; }
#alert-popup .bottom { padding-bottom: 25px; text-align: center;}
.blue-popup {
	background:#FFF !important;
	border:none;
	border-radius:5px;
	margin:0px;
}
.blue-popup .head {
	background-color:#355fac !important;
	padding:10px;
	color:#FFF;
	font-size:18px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font-weight: bold;
}
.blue-popup .content {
	font-size:15px;
	text-align: left;
}
.alert-popup-close {
	background-image:url(../images/pup_close.png);
	background-repeat:no-repeat;
	display:inline-block;
	float:right;
	width:22px;
	height:22px;
	margin:-1px;
	cursor:pointer;
}
.book-customer{width: 320px;}
#schedule-top { display: table; width:100%; padding-top: 10px; }
#schedule-top .row { display: table-row; }
#schedule-top .cell1 { display:table-cell; width:15%; vertical-align: middle; padding-left: 10px; }
#schedule-top .cell1 div { font-size:13px; display:inline-block; width: 70px; }
.book-nav-top .mm-color-box { font-size:13px; display:inline-block; width:  auto; padding-top: 8px;}
/*#schedule-top .cell1 span.oneday { display:inline-block; width: 10px; height: 10px; background: #ff7223; }*/
#schedule-top .cell1 span.oneday { display:inline-block; width: 10px; height: 10px; background: #4897e6; }

.book-nav-top {}
.book-nav-top ul {list-style: none; margin: 0px; padding: 0px;}
.book-nav-top li {display: inline-block;float: left;margin: 0px 75px 0px 0px;}

.book-nav-top .oneday { display:inline-block; width: 10px; height: 10px;  }
.book-nav-top .weekly { display:inline-block; width: 10px; height: 10px; }
.book-nav-top .biweekly { display:inline-block; width: 10px; height: 10px; }


.maid-schedule-top .book-nav-top li {display: inline-block; float: left;margin: 0px 22px 0px 0px;}










/*#schedule-top .cell1 span.weekly { display:inline-block; width: 10px; height: 10px; background: #9e6ab8; }*/
#schedule-top .cell1 span.weekly { display:inline-block; width: 10px; height: 10px; background: #0756a5; }
#schedule-top .cell1 span.biweekly { display:inline-block; width: 10px; height: 10px; background: #53a5d4; }
#schedule-top .cell2 { display:table-cell; width:30%; text-align: center; vertical-align: middle; }
#schedule-top .cell3 { display:table-cell; width:15%; vertical-align: middle; text-align: right; }
#schedule-top .cell4 { display:table-cell; width:20%; vertical-align: middle; text-align: center; }
#schedule-top .cell5 { display:table-cell; width:20%; vertical-align: middle; text-align: center; }
#schedule-wrapper { min-height: 450px; margin-bottom: 50px; }
#schedule { margin: 10px;margin-left: 0px; display: none; }
#schedule .maids { width:188px; float: left;border: 1px solid #CCC; border-right: none; border-bottom: none; background: #FFF; }
#schedule .head {
    width:172px; 
    height: 39px; 
    background: #78036b; 
    /*background-image: linear-gradient(to bottom, #00A642, #00A642); */
    line-height: 35px; 
    text-align: left; 
    padding: 0px 10px; 
    font-size: 10px; 
    color:#FFF; 
    float:left;
}
#schedule .maids .maid { 
    color: #333; 
    width:187px;  
    height: 61px; /*height: 80px; */
    border-bottom: 1px solid #d6d6d6; 
    font-size:12px; 
    padding: 5px 5px 0px 10px; 
}

.maid-top-box,.maid-bottom-box{
    width: 100%; height: 40px;
}
.maid-bottom-box {
    text-align: right;}
#schedule .time_grid { border: 1px solid #CCC;  overflow: hidden; position: relative; float: left; }
#schedule .time_line { 
    float: left; 
    overflow: hidden; 
    background: #3a2c70; 
    /*background-image: linear-gradient(to bottom, #00A642, #00A642); */
    height: 39px; 
    position:relative; 
}
#schedule .prev { width: 17px; height: 39px;  float: left; background: #3a2c70;/*background-image: linear-gradient(to bottom, #00A642, #00A642); */padding-right: 3px;}
#schedule .prev input {  background: url(../images/e-maid-icons.png) no-repeat left top; border: 0px; margin: 10px 0px; cursor: pointer; width: 17px; }
#schedule .prev input:hover { background: url(../images/e-maid-icons.png) no-repeat left -18px top; }
#schedule .next {width: 20px; height: 39px;  float: left; background: #3a2c70;/*background-image: linear-gradient(to bottom, #00A642, #00A642); */padding-right: 7px;}
#schedule .next input { background: url(../images/e-maid-icons.png) no-repeat right top; border: 0px;  cursor: pointer;  margin: 10px 2px; width:17px; }
#schedule .next input:hover { background: url(../images/e-maid-icons.png) no-repeat right -18px top; }
#schedule .time_line .time_slider { position:absolute; left:-976px; display: inline-block;  }/*left:-1600px;*/
#schedule .time_line .time_slider div { float:left; color: #fff; font-size: 10px; text-align: left; line-height: 35px; width: 61px; }/* width: 100px;*/
#schedule .time_grid .grids { position:absolute; left:-976px; }/*left:-1600px;*/
#schedule .time_grid .grids .row { width:4800px; border-bottom:1px solid #CCC; height: 61px; margin-left: 0px !important; }/*height: 80px;*/
#schedule .time_grid .grids .row .slot { height: 61px; float: left; }/*height: 80px;*/
#schedule .time_grid .grids .row .cell { border-right:1px solid #CCC; width: 61px; height: 61px; float:left; position: relative; font-size:12px; }/*width: 100px;*//*height: 80px;*/

.schedule_bubble
{


	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 10px;
	color:#FFF;
	padding: 4px 10px;
	/*padding: 6px 10px;*/
	position: absolute;
	z-index: 10;
	top:10px; 
	left:2px;
	cursor: pointer;
	line-height: 13px;
	/*line-height: 16px;*/
}
     
        
        
        
        .schedule_bubble[title]:hover:after {
            content: attr(title);
            padding: 4px 8px;
            color: #fff;
            position: absolute;
            display: block;
            width: auto;
            left: 0;
            top: 0%;
            z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999;
            background: #333; border-radius: 0px !important;

        }
        
.schedule_bubble div{ overflow: hidden; white-space: nowrap;}

.schedule_bubble:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 4px 4px 4px 0;
	border-color: transparent #6b81b0;
	display: block;
	width: 0;
	z-index: 1;
	left: -4px;
	top: 8px;
}








.book-nav-top .oneday {background: #c9437c;}
.schedule_bubble.od { background:#c9437c;}
.schedule_bubble.od:after {border-color: transparent #c9437c;}

.book-nav-top .weekly {background: #ed48f9;}
.schedule_bubble.we {background:#ed48f9;}
.schedule_bubble.we:after {border-color: transparent #ed48f9;}

.book-nav-top .biweekly {background: #5043c9;}
.schedule_bubble.bw {background:#5043c9;}
.schedule_bubble.bw:after {border-color: transparent #5043c9;}



/*source color*/
.schedule_bubble.helpling {
	background:rgb(255, 192, 0);
}
.schedule_bubble.helpling:after {
	border-color: transparent rgb(255, 192, 0);
}
.schedule_bubble.justmop {
	background:rgb(177, 160, 199);
}
.schedule_bubble.justmop:after {
	border-color: transparent rgb(177, 160, 199);
}
.schedule_bubble.justmopod {
	background:rgb(230, 184, 183);
}
.schedule_bubble.justmopod:after {
	border-color: transparent rgb(230, 184, 183);
}
.schedule_bubble.helpersquad {
	background:rgb(255, 51, 153);
}
.schedule_bubble.helpersquad:after {
	border-color: transparent rgb(255, 51, 153);
}
.schedule_bubble.bookservice {
	background:rgb(196, 189, 151);
}
.schedule_bubble.bookservice:after {
	border-color: transparent rgb(196, 189, 151);
}
.schedule_bubble.helpbit {
	background:rgb(0, 176, 240);
}
.schedule_bubble.helpbit:after {
	border-color: transparent rgb(0, 176, 240);
}
.schedule_bubble.mrusta {
	background:rgb(218, 150, 148);
}
.schedule_bubble.mrusta:after {
	border-color: transparent rgb(218, 150, 148);
}
.schedule_bubble.servicemarket {
	background:rgb(53, 95, 172);
}
.schedule_bubble.servicemarket:after {
	border-color: transparent rgb(53, 95, 172);
}


.schedule_bubble.specjohn {
	background:rgb(255,69,0);
}
.schedule_bubble.specjohn:after {
	border-color: transparent rgb(255,69,0);
}

.schedule_bubble.specian {
	background:rgb(222, 234, 26);
}
.schedule_bubble.specian:after {
	border-color: transparent rgb(222, 234, 26);
}

.schedule_bubble.specruth {
	background:rgb(199, 0, 57);
}
.schedule_bubble.specruth:after {
	border-color: transparent rgb(199, 0, 57);
}

.schedule_bubble.specdom {
	background:rgb(105,105,105);
}
.schedule_bubble.specdom:after {
	border-color: transparent rgb(105,105,105);
}


.schedule_bubble.speckc {
	background:rgb(237, 127, 34);
}
.schedule_bubble.speckc:after {
	border-color: transparent rgb(237, 127, 34);
}

.schedule_bubble.rose {
	background:rgb(237, 127, 34);
}
.schedule_bubble.rose:after {
	border-color: transparent rgb(237, 127, 34);
}


.schedule_bubble.specmark {
	background:rgb(103, 64, 140);
}
.schedule_bubble.specmark:after {
	border-color: transparent rgb(103, 64, 140);
}


.schedule_bubble.specayen {
	background:rgb(185, 35, 61);
}
.schedule_bubble.specayen:after {
	border-color: transparent rgb(185, 35, 61);
}

.schedule_bubble.jane {
	background:rgb(103, 64, 140);
}
.schedule_bubble.jane:after {
	border-color: transparent rgb(103, 64, 140);
}

.schedule_bubble.gladess {
	background:rgb(66, 152, 136);
}
.schedule_bubble.gladess:after {
	border-color: transparent rgb(66, 152, 136);
}

.schedule_bubble.mildred {
	background:rgb(185, 119, 14);
}
.schedule_bubble.mildred:after {
	border-color: transparent rgb(185, 119, 14);
}

.schedule_bubble.glory {
	background:rgb(65, 65, 65);
}
.schedule_bubble.glory:after {
	border-color: transparent rgb(65, 65, 65);
}

.schedule_bubble.smartjm {
	background:rgb(26, 144, 36);
}
.schedule_bubble.smartjm:after {
	border-color: transparent rgb(26, 144, 36);
}

.schedule_bubble.spectrum {
	background:rgb(146, 208, 80);
}
.schedule_bubble.spectrum:after {
	border-color: transparent rgb(146, 208, 80);
}
.book-nav-top .help { display:inline-block; width: 10px; height: 10px; background: rgb(255, 192, 0); }
.book-nav-top .just { display:inline-block; width: 10px; height: 10px; background: rgb(177, 160, 199); }
.book-nav-top .justod { display:inline-block; width: 10px; height: 10px; background: rgb(230, 184, 183); }
.book-nav-top .helper { display:inline-block; width: 10px; height: 10px; background: rgb(255, 51, 153); }
.book-nav-top .bookservices { display:inline-block; width: 10px; height: 10px; background: rgb(196, 189, 151); }
.book-nav-top .helpbitss { display:inline-block; width: 10px; height: 10px; background: rgb(0, 176, 240); }
.book-nav-top .usta { display:inline-block; width: 10px; height: 10px; background: rgb(218, 150, 148); }
.book-nav-top .servicemarket { display:inline-block; width: 10px; height: 10px; background: rgb(53, 95, 172); }
.book-nav-top .specss { display:inline-block; width: 10px; height: 10px; background: rgb(146, 208, 80); }
.book-nav-top .specjohn { display:inline-block; width: 10px; height: 10px; background: rgb(255,69,0); }
.book-nav-top .specian { display:inline-block; width: 10px; height: 10px; background: rgb(222, 234, 26); }
.book-nav-top .specruth { display:inline-block; width: 10px; height: 10px; background: rgb(199, 0, 57); }
.book-nav-top .specdom { display:inline-block; width: 10px; height: 10px; background: rgb(105, 105, 105); }
.book-nav-top .speckc { display:inline-block; width: 10px; height: 10px; background: rgb(237, 127, 34); }
.book-nav-top .rose { display:inline-block; width: 10px; height: 10px; background: rgb(237, 127, 34); }
.book-nav-top .specmark { display:inline-block; width: 10px; height: 10px; background: rgb(103, 64, 140); }
.book-nav-top .jane { display:inline-block; width: 10px; height: 10px; background: rgb(103, 64, 140); }
.book-nav-top .specayen { display:inline-block; width: 10px; height: 10px; background: rgb(185, 35, 61); }
.book-nav-top .gladess { display:inline-block; width: 10px; height: 10px; background: rgb(66, 152, 136); }
.book-nav-top .mildred { display:inline-block; width: 10px; height: 10px; background: rgb(185, 119, 14); }
.book-nav-top .glory { display:inline-block; width: 10px; height: 10px; background: rgb(65, 65, 65); }
.book-nav-top .smartjm { display:inline-block; width: 10px; height: 10px; background: rgb(26, 144, 36); }
/*ends*/

 .ui-selecting { background: #c1f9a8; }
 .ui-selecting {border: none;}
 .ui-selected { background: #c1f9a8; color: white; }
 
#customer-address-panel { border:1px solid #CCC; width: 472px; height: 400px; overflow-y: scroll; background: #FFF; position: absolute; z-index: 20; border-radius: 5px; margin: 0px; box-shadow: 2px 2px 2px #CCC; display: none; }
#customer-address-panel .head { border-top-left-radius: 5px;  border-top--radius: 5px; background: #EFEFEF; font-size: 12px; padding: 8px;font-weight: bold; }
#customer-address-panel .close { float:right; display: block; font-weight: normal; color:#F60; cursor:pointer; font-size: 12px; opacity: 1; }
#customer-address-panel .close:hover { text-decoration: underline; }
#customer-address-panel .inner { padding:20px; font-size: 12px; }
#customer-address-panel .inner .table { display:table; font-size: 12px;border-top: 1px solid #EFEFEF; }
#customer-address-panel .inner .table .row { display:table-row; }
#customer-address-panel .inner .table .row .cell1 { display:table-cell; width: 300px; line-height: 18px; padding:8px; border-bottom: 1px solid #EFEFEF; }
#customer-address-panel .inner .table .row .cell2 { display:table-cell; width: 140px; padding:8px; vertical-align: middle;border-bottom: 1px solid #EFEFEF; }
#customer-address-panel .pick_customer_address { border:1px solid #1c94c4; cursor: pointer; background: #1c94c4; color:#FFF; border-radius: 3px; padding: 1px 15px 1px 5px; font-size:12px; line-height: normal; }
#customer-picked-address .address { padding-top:5px; width: 250px; float: left; }
#customer-picked-address .action { float:left;padding-top:5px; font-size: 11px; text-align: right; width: 50px; color:#0099FF; }
#customer-picked-address .action #chg-cust-address { cursor:pointer }
#customer-picked-address .action #chg-cust-address:hover { text-decoration: underline; }

/*For job*/
#job-customer-address-panel { border:1px solid #CCC; width: 472px; height: 400px; overflow-y: scroll; background: #FFF; position: absolute; z-index: 20; border-radius: 5px; margin: 0px; box-shadow: 2px 2px 2px #CCC; display: none; }
#job-customer-address-panel .head { border-top-left-radius: 5px;  border-top--radius: 5px; background: #EFEFEF; font-size: 12px; padding: 8px;font-weight: bold; }
#job-customer-address-panel .close { float:right; display: block; font-weight: normal; color:#F60; cursor:pointer; font-size: 12px; opacity: 1; }
#job-customer-address-panel .close:hover { text-decoration: underline; }
#job-customer-address-panel .inner { padding:20px; font-size: 12px; }
#job-customer-address-panel .inner .table { display:table; font-size: 12px;border-top: 1px solid #EFEFEF; }
#job-customer-address-panel .inner .table .row { display:table-row; }
#job-customer-address-panel .inner .table .row .cell1 { display:table-cell; width: 300px; line-height: 18px; padding:8px; border-bottom: 1px solid #EFEFEF; }
#job-customer-address-panel .inner .table .row .cell2 { display:table-cell; width: 140px; padding:8px; vertical-align: middle;border-bottom: 1px solid #EFEFEF; }
#job-customer-address-panel .pick_customer_address { border:1px solid #1c94c4; cursor: pointer; background: #1c94c4; color:#FFF; border-radius: 3px; padding: 1px 15px 1px 5px; font-size:12px; line-height: normal; }
/*Ends*/

/* Edited by Geethu*/
#maids-panel { border:1px solid #CCC; width: 472px;  min-height: 338px; box-shadow: 0px 0px 0px; /*min-height: 307px;*/ background: #FFF; position: absolute; z-index: 20; border-radius: 5px; margin: 0px; /*box-shadow: 2px 2px 2px #CCC; */ display: none; }
#maids-panel .head { border-top-left-radius: 5px;  border-top--radius: 5px; background: #EFEFEF; font-size: 12px; padding: 8px;font-weight: bold; }
#maids-panel .close { float:right; display: block; font-weight: normal; color:#F60; cursor:pointer; font-size: 12px; opacity: 1; }
#maids-panel .close:hover { text-decoration: underline; }
#maids-panel .inner { padding:20px; font-size: 12px; height:260px; overflow: scroll; overflow-x:hidden; padding-top: 0px; }
#maids-panel .inner .table { display:table; font-size: 12px;border-top: 1px solid #EFEFEF; }
#maids-panel .inner .table .row { display:table-row; }
#maids-panel .inner .table .row .cell1 { display:table-cell; width: 300px/*125px*/; line-height: 18px; padding:5px; border-bottom: 1px solid #EFEFEF; }
#maids-panel .inner .table .row .cell2 { display:table-cell; width: 140px/*50px*/; padding:8px; vertical-align: middle;border-bottom: 1px solid #EFEFEF; }
#maids-panel .copy_maid { border:1px solid #1c94c4; cursor: pointer; background: #1c94c4; color:#FFF; border-radius: 3px; padding: 1px 15px 1px 5px; font-size:12px; line-height: normal; }
#customer-copied-maid .copy { padding-top:5px; width: 250px; float: left; }
#customer-copied-maid .action { float:left;padding-top:5px; font-size: 11px; text-align: right; width: 50px; color:#0099FF; }
#customer-copied-maid .action #chg-cust-address { cursor:pointer }
#customer-copied-maid .action #chg-cust-address:hover { text-decoration: underline; }
#maids-panel #c-error { color:#F00; font-size: 12px; }
/* Let's get this party started */ 
::-webkit-scrollbar { width: 12px; } 
/* Track */ 
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; }
/* Handle */ 
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: #EFEFEF; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); } 
::-webkit-scrollbar-thumb:window-inactive { background: #EFEFEF; }

/* End */
#booking-action-confirm-panel { border:1px solid #CCC; width: 451px; padding: 10px; background: #FFF; position: absolute; z-index: 100; border-radius: 5px; margin: -10px 0px 0px 0px;box-shadow: 2px 2px 2px #CCC; text-align: center; display: none; }
#booking-action-confirm-panel input[type=button] { cursor: pointer; color:#FFF; border-radius: 3px; padding: 5px; margin-right: 15px; }
#booking-action-confirm-panel #delete-one-day { border:1px solid #FF6279; background: #FF6279; }
#booking-action-confirm-panel #delete-permanent { border:1px solid #FF313E; background: #FF313E; }
#booking-action-confirm-panel #delete-cancel { border:1px solid #0F9DDB; background: #0F9DDB; margin-right: 0px; margin-left: 15px; }
#booking-action-confirm-panel #update-one-day, #booking-action-confirm-panel #updating-one-day { border:1px solid #448bbe; background: #448bbe; }
#booking-action-confirm-panel #update-permanent, #booking-action-confirm-panel #updating-permanent { border:1px solid #479f2f; background:#479f2f; }
#booking-action-confirm-panel #update-cancel { border:1px solid #F60; background: #F60; margin-right: 0px; margin-left: 15px; }

/*added by vishnu*/
#booking-action-confirm-panel1 { width: 451px; padding: 10px; background: none; margin: 10px 0 20px 0; text-align: center; }
#booking-action-confirm-panel1 input[type=button] { cursor: pointer; color:#FFF; border-radius: 3px; padding: 5px; margin-right: 15px; }
#booking-action-confirm-panel1 #delete-one-day { border:1px solid #FF6279; background: #FF6279; }
#booking-action-confirm-panel1 #delete-permanent { border:1px solid #FF313E; background: #FF313E; }
#booking-action-confirm-panel1 #delete-cancel { border:1px solid #0F9DDB; background: #0F9DDB; margin-right: 0px; margin-left: 15px; }

//////////////////////////////////////////////////////////////////////////

.schedule_report { width: 21cm; padding: 2cm; margin: 1cm auto !important; border-radius: 5px; background: white; box-sizing: border-box; -moz-box-sizing: border-box; font: 13px "Tahoma"; }
.schedule_report .inner { height: 237mm; outline: 2cm #FFF solid; width: 20cm; margin: auto !important; }
.schedule_report .head { font-size:17px; margin-bottom:.5cm; font-weight: bold; text-align: center; }
.schedule_report .table { display: table; border: 1px solid #999; }
.schedule_report .table .row { display: table-row; }
.schedule_report .table .row .cell1 { display:table-cell; width:1.3cm; border-right:1px solid #999; border-bottom:1px solid #999; padding: 0.3cm 0.2cm; }
.schedule_report .table .row .cell2 { display:table-cell; width:3.0cm; border-right:1px solid #999; border-bottom:1px solid #999; padding: 0.3cm 0.2cm; }
.schedule_report .table .row .cell3 { display:table-cell; width:6.0cm; border-right:1px solid #999; border-bottom:1px solid #999; padding: 0.3cm 0.2cm; }
.schedule_report .table .row .cell4 { display:table-cell; width:4.5cm; border-right:1px solid #999; border-bottom:1px solid #999; padding: 0.3cm 0.2cm; }
.schedule_report .table .row .cell5 { display:table-cell; width:2.5cm; border-right:1px solid #999; border-bottom:1px solid #999; padding: 0.3cm 0.2cm; }
.schedule_report .table .row .cell6 { display:table-cell; width:2.0cm; border-bottom:1px solid #999; padding: 0.3cm 0.2cm; }
.finished
{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 3px;
}
.on-going
{
    background-color: green;
    color: white;
    border-radius: 4px;
    padding: 3px;
}
.cancelled
{
    background-color: gray;
    color: white;
    border-radius: 4px;
    padding: 3px;
}
.not-started
{
    background-color: blue;
    color: white;
    border-radius: 4px;
    padding: 3px;
}
.start-stop {
  width: 10px;
  height: 10px;
  padding: 5px !important;
  margin-right: 5px !important;
  line-height: 10px !important;
}

.book_source_Mobile{
  
    color:red;
    
}
.book_source_Web{
  
    color:green;
    
}
.book_source_Admin{
  
    color:red;
    
}
.book_type_WE{
/*    background-color: #9e6ab8;
    border-radius: 4px;
    color: white;
    padding: 3px;   */
    color: #9e6ab8;
    
}
.book_type_OD{
/*    background-color: #ff7223;
    border-radius: 4px;
    color: white;
    padding: 3px;   */
   color: #ff7223;
    
}

/*Tabs*/

body {
  /*padding : 10px ;*/
  padding : 0px;
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}


