@font-face{font-family:'Conv_PTS55F';src:url('../fonts/PTS55F.eot');src:local(â˜º),url(../fonts/PTS55F.woff) format("woff"),url(../fonts/PTS55F.ttf) format("truetype"),url(../fonts/PTS55F.svg) format("svg");font-weight:400;font-style:normal}

@font-face{font-family:'Open-Sans-regular'; src:url('../fonts/Open-Sans-regular.eot'); src:local(â˜º),url(../fonts/Open-Sans-regular.woff) format("woff"),url(../fonts/Open-Sans-regular.ttf) format("truetype"), url(../fonts/Open-Sans-regular.svg) format("svg");font-weight:400;font-style:normal}


/*@font-face{font-family:'Open-Sans-regular';src:url('../fonts/Open-Sans-regular.eot');src:local(Ã¢ËœÂº),url('../fonts/Open-Sans-regular.woff') format("woff"),url('../fonts/Open-Sans-regular.ttf') format("truetype"),url('../fonts/Open-Sans-regular.svg') format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'Open-Sans-regular'; src:url(fonts/Open-Sans-regular.eot); src:local(☺),url(../fonts/Open-Sans-regular.woff) format("woff"), url(../fonts/Open-Sans-regular.ttf) format("truetype"), url(../fonts/Open-Sans-regular.svg) format("svg"); font-weight:400; font-style:normal}*/
@font-face{font-family:'Conv_PTS75F';src:url(../fonts/PTS75F.eot);src:local(â˜º),url(../fonts/PTS75F.woff) format("woff"),url(../fonts/PTS75F.ttf) format("truetype"),url(../fonts/PTS75F.svg) format("svg");font-weight:400;font-style:normal}

img,object,embed,video{max-width:100%;display:block;width:100%}
.ie6 img{width:100%;display:block}
body,div,ul,li,h1,h2,h3,h4,h5,h6,p,blockquote,th,td,img{margin:0;padding:0;border:0;font-family:'Open-Sans-regular',sans-serif;}
.clear{clear:both}
*{outline:none}
.hide{display:none}
::-moz-selection{background:none repeat scroll 0 0 #70c831;color:#FFF}

h1 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 43px; color: #555; line-height: 45px; font-weight: normal;}
h2 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 40px; color: #555; line-height: 40px; font-weight: normal; padding-bottom: 10px;}
h2 span { font-family:'Conv_PTS75F',Sans-Serif; }
h3 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 35px; color: #555; line-height: 35px; font-weight: normal;}
h4 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 30px; color: #555; line-height: 30px; font-weight: normal;}
h5 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 25px; color: #555; line-height: 25px; font-weight: normal;}
h6 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 19px; color: #555; line-height: 20px; font-weight: normal;}

p { font-family:'Open-Sans-regular',sans-serif;font-size:15px;color:#777;line-height:22px;text-align:justify;padding:5px 0}

a { color: #464646; text-decoration: none; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; }
a:hover { color: #000; text-decoration: underline; }

.pc-view-only{display:block !important}
.mob-view-only{display:none !important}

.text-center{text-align:center}
.text-right{text-align:right!important}
.text-white{color:#FFF!important}
.text-black{color:#555!important}

.box-center{float:none!important;margin:0 auto;display:table}
.mob-menu-icon{display:none}

.view-only-415 { display: none;}
.hide-only-415 { display: block;}

.view-only-320 { display: none}
.hide-only-320 { display: block;}

.view-only-600 { display: none}
.hide-only-600 { display: block;}

.view-only-1024 { display: none}
.hide-only-1024 { display: block;}

::-webkit-input-placeholder{color:#000}
:-moz-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
.no-top-padding{padding-top:0!important}
.no-right-padding{padding-right:0!important}
.no-bottom-padding{padding-bottom:0!important}
.no-left-padding{padding-left:0!important}
.no-top-bottom-padding{padding-top:0!important;padding-bottom:0!important}
.no-left-right-padding{padding-left:0!important;padding-right:0!important}
.no-padding{padding:0!important}
.no-top-margin{margin-top:0!important}
.no-right-margin{margin-right:0!important}
.no-bottom-margin{margin-bottom:0!important}
.no-left-margin{margin-left:0!important}
.no-top-bottom-margin{margin-top:0!important;margin-bottom:0!important}
.no-left-right-margin{margin-left:0!important;margin-right:0!important}
.no-margin{margin:0!important}

.wrapper-main{width:100%;height:auto}
.fortoppadding{padding-top: 100px;}

.mob-menu-icon { display: none !important;}

.header-wrapper { width: 100%; background: #78c257; }

.search-wrapper { width: 100%;  border-bottom: 1px solid #a6f085; padding: 8px 0px;}

.logo { width: 85px; float: left;}
.navbar-search {border-radius: 50px; background: #fff; width: 200px; padding: 0px 10px; border: 0px; overflow: hidden;}
.navbar-search .search-query { font-size: 13px; border: 0px; color: #000; line-height: normal; box-shadow: 0px 0px 0px #FFF;}

#head-search-f {box-shadow: 0px 0px 0px #FFF;}
.navbar-search { float: right; margin-right: 20px;}
.admin-drp-main { float: right;}

.admin-drp-main #primary_nav_wrap li a { font-size: 12px;  padding: 3px 20px;}
.admin-drp-main #primary_nav_wrap li a:hover { color: #FFF; background: #6b81b0;}
.admin-drp-main #primary_nav_wrap ul ul { width: 160px; }
.admin-drp-main #primary_nav_wrap ul ul li a:hover { color: #FFF; background: #4897e6 ;}
.search-section { padding-top: 5px;}





.menu { border-top: 1px solid #68b247; background: #88d267; display: block; }

header {width: 100%; height: auto;position: fixed;top: 0;left: 0; z-index: 999; -moz-transition: height 0.6s ease 0s; -o-transition: height 0.6s ease 0s; -webkit-transition: height 0.6s ease 0s;  transition: height 0.6s ease 0s;}



/*-------------// MENU SECTION //----------------*/

#primary_nav_wrap{ width: 100% !important; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; }
#primary_nav_wrap ul { list-style:none; text-align: center; position:relative; margin:0; padding:0; }
#primary_nav_wrap li {position:relative; margin:0; padding:0; display: inline-block;}
#primary_nav_wrap li a { display:block; font-family:'Open-Sans-regular',sans-serif; font-size: 13px; color: #FFF; line-height: 21px; padding: 8px 20px 9px; text-decoration: none; }
#primary_nav_wrap li a:hover { color: #6b81b0; background: #fff;}
#primary_nav_wrap li a.active { color: #6b81b0; background: #fff;}




#primary_nav_wrap li:hover a { color: #6b81b0; background: #fff;}




#primary_nav_wrap ul li:hover > ul { display:block;}
#primary_nav_wrap ul ul { width:240px; display:none; position:absolute; top:100%; left:0; z-index: 999; padding:0; box-shadow: 1px 1px 2px #707070;}
#primary_nav_wrap ul ul li {width: 100%; text-align: left; /*border-top: 1px solid #1968b7;*/  border-bottom: 1px solid #ccc; }
#primary_nav_wrap ul ul li a { font-size: 13px; border: 0px; padding: 4px 20px 5px 20px; background: #fff; color: #6b81b0 }
#primary_nav_wrap ul ul li a:hover { color: #4897e6; background: #FFF ;}
#primary_nav_wrap ul li ul li:first-child { /*border-top: 0px solid #242424;*/}

#primary_nav_wrap ul ul.last-ul { position:absolute; top:100%; left: auto !important; right: 0px !important;}


#primary_nav_wrap li:hover ul li a { font-size: 13px; border: 0px; padding: 6px 20px 7px 20px; background: #fff; color: #6b81b0 }
#primary_nav_wrap li:hover ul li a:hover { color: #fff; background: #6b81b0 ;}

.backtotop{position:fixed;right:5%;bottom:15px;display:none;-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.backtotop a{text-decoration:none;border:0 none;display:block;width:31px;height:155px}
.backtotop a:hover{opacity:.8}
.backtotop:hover{-webkit-filter:grayscale(0%);filter:grayscale(0%)}


.dash-top-wrapper { padding-top: 130px;}
.content-wrapper { padding-bottom: 0px;}



/*---------------------My Maid Start -------------------------*/


.colour-box-main { padding-bottom: 30px;}
.colour-box { padding: 20px 0px 0px 0px; min-height: 175px;}

.red { background: #fc8675;}
.red .view-all-booking a { color: #FFF; background: #ec7665;}
.red .view-all-booking a:hover { background: #cc5645;}


.yellow { background: #f3ce85;}
.yellow .view-all-booking a { color: #FFF; background: #e3be75;}
.yellow .view-all-booking a:hover { background: #c39e55;}


.green { background: #65cea7;}
.green .view-all-booking a { color: #FFF; background: #55be97;}
.green .view-all-booking a:hover { background: #45ae87;}


.blue { background: #6bafbd;}
.blue .view-all-booking a { color: #FFF; background: #5b9fad;}
.blue .view-all-booking a:hover { background: #4b8f9d ;}


.violet { background: #8775a7;}
.violet .view-all-booking a { color: #FFF; background: #776597;}
.violet .view-all-booking a:hover { background: #574577;}


.brown { background: #bd796b;}
.brown .view-all-booking a { color: #FFF; background: #ad695b;}
.brown .view-all-booking a:hover { background: #ad695b;}


.pink { background: #ce658c;}
.pink .view-all-booking a { color: #FFF; background: #be557c;}
.pink .view-all-booking a:hover { background: #be557c;}


.light-blue { background: #85aaf3;}
.light-blue .view-all-booking a { color: #FFF; background: #759ae3;}
.light-blue .view-all-booking a:hover { background: #759ae3;}


.light-green { background: #95a775;}
.light-green .view-all-booking a { color: #FFF; background: #7d8c62;}
.light-green .view-all-booking a:hover { background: #7d8c62 ;}



.dash-calender { background-image:url(../images/dash-calender.png); background-repeat: no-repeat;}
.dash-files { background-image:url(../images/dash-files.png); background-repeat: no-repeat;}
.dash-group { background-image:url(../images/dash-group.png); background-repeat: no-repeat;}
.dash-paperclip { background-image:url(../images/dash-paperclip.png); background-repeat: no-repeat;}
.dash-suitcase { background-image:url(../images/dash-suitcase.png); background-repeat: no-repeat;}
.dash-user-plus { background-image:url(../images/dash-user-plus.png); background-repeat: no-repeat;}
.dash-map { background-image:url(../images/dash-map.png); background-repeat: no-repeat;}
.dash-complaint { background-image:url(../images/dash-complaint.png); background-repeat: no-repeat;}
.dash-going { background-image:url(../images/dash-going.png); background-repeat: no-repeat;}

.topiconnew{width: 35px; text-align: center; height: 35px; margin-top: 3px; margin-right: 5px; float: right; border: 1px solid #ccc; background: #fff; border-radius: 50px;}
.topiconnew img{width: 60%; margin: 0 auto; padding-top: 5px; opacity: 0.8;}
.topiconnew:hover{background: #ffe700;}

.total-booking-num { font-size: 50px; color: #FFF; line-height: 60px; text-align: right; padding: 0px 30px 0px 30px; }
.total-booking-text { font-size: 23px; color: #FFF; line-height: 25px; text-align: right; padding: 0px 30px 0px 30px;}
.view-all-booking { padding-top: 30px; }
.view-all-booking a { font-size: 15px; display: block; background: #1ba39c; text-decoration: none; padding: 10px 20px 10px 20px; width: 50%; float: left;}
.view-all-booking a:hover { background: #18918b;}
.colour-rit-icon { padding: 0px 5px;}
.eventstart-but-main{border-radius: 25px; overflow: hidden; margin-top: 10px;}
.eventstart-but-main .eventstart-but,.eventstart-but-main .eventfinish-but  {
padding: 10px 25px; color: #FFF;
background: #4897e6;
border-top: 0px; border-bottom: 0px;
}
.eventstart-but-main .eventstart-but:hover,.eventstart-but-main .eventfinish-but:hover{background: #65cea7; color: #fff;}

.contact-body{padding: 10px 0px 20px 0px;}
.contact-body span{padding-bottom: 10px; display: block;}
.startfinishbox{}
.startfinishbox h4{padding-bottom: 5px; margin-bottom: 0px;}

.mm-loader { width: 100%; height: 100vh; position:fixed; top:0px; left: 0px; z-index: 9999; background : url("../images/mm-loader.gif") no-repeat no-repeat center center; background-size: 150px; background-color: rgba(0, 0, 0, 0.3); display: none; }

.tab-hed {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(2,2,2,0) 1%, rgba(227,227,227,0.65) 99%, rgba(229,229,229,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(2,2,2,0) 1%,rgba(227,227,227,0.65) 99%,rgba(229,229,229,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(2,2,2,0) 1%,rgba(227,227,227,0.65) 99%,rgba(229,229,229,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6e5e5e5',GradientType=0 ); /* IE6-9 */}
.tab-hed h2 { font-size: 17px; line-height: 17px; padding: 10px 15px; color: #428bca; border: 1px solid  #ECECEC; }

.tab-cont { border: 1px solid  #ECECEC; border-top: 0px;  padding: 10px 15px; }



.report-cont-det {}
.report-cont-det ul { margin: 0px; padding: 0px;}
.report-cont-det li { font-size: 13px; color: #555; line-height: 18px; list-style: none; border-bottom: 1px solid #ECECEC;}
.report-cont-det li a { display: list-item; text-decoration: none;  padding: 10px 15px; }
.report-cont-det li a:hover { background:  #f2fbfb ;}



.activity-time { font-size: 12px; color: #999; float: right;}


.quick-link-main-box { padding-bottom: 15px;}
.quick-link-main {}
.quick-link-icon { font-size: 30px; text-align: center; padding: 25px 0px 0px 0px; }
.quick-link-text {  font-size: 16px; text-align: center; padding: 0px 0px 25px 0px; }

.quick-link-main-box a { background: #f8f8f8; display: block; text-decoration: none;}
.quick-link-main-box a:hover { color: #428bca; background: #f2fbfb;}



.pc-menu-view-only{display: block !important;}
.mob-menu-view-only{display: none !important;}





.table-box-main { width: 100%; height: auto;}
.Table{display:table;width:100%}
.Title{display:table-caption;text-align:center;font-weight:700;font-size:larger}
.Heading{display:table-row;font-weight:700;text-align:center}
.Row{display:table-row}
.Cell{display:table-cell;border:1px solid #CCC;border-top:0;border-right:0;border-width:thin;padding:5px 5px 5px 13px}
.table-top-style-box{border:1px solid #CCC;border-left:0;border-bottom:0;position:relative;margin:0px 0 0px}
.table-head{color:#FFF; font-size:20px;     background:  #4897e6}
.Table.table-top-style-box .Row:nth-child(odd){background:rgba(0,0,0,0.05)}
.Table.table-top-style-box .Row{background:rgba(255,255,255,0.3)}
.Cell strong{ font-size:13px;color:#FFF}
.Table p{font-size:13px}
.Cell p { margin: 0px; padding: 0px;}
.table-head-new{color:#FFF;font-size:20px;background:#21353e;background:-moz-linear-gradient(top,rgba(33,53,62,1) 0%,rgba(64,92,119,1) 100%);background:-webkit-linear-gradient(top,rgba(33,53,62,1) 0%,rgba(64,92,119,1) 100%);background:linear-gradient(to bottom,rgba(33,53,62,1) 0%,rgba(64,92,119,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21353e',endColorstr='#405c77',GradientType=0)}


.mm-drop select {
    -moz-appearance: none;
    background: #fff url("../images/ash-arrow.png") no-repeat scroll right 7px top 11px;
   border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
   padding: 3px 0 3px 10px;

    text-indent: 0.01px;
    width: 200px;
}
#statement-customer-id{
    -moz-appearance: none;
    background: #fff url("../images/ash-arrow.png") no-repeat scroll right 7px top 11px;
   border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
   padding: 3px 0 3px 10px;

    text-indent: 0.01px;
    width: 200px;
}
.mm-drop input {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
}
.mm-drop {
    display: inline-block;
    width: auto;
}

 .save-but{
    background: #4897e6 !important;
}
    
.modal-header{
    background: #2776c5 !important;
}
    

    
 /*PopUp*/
 .mymaid-popup-main-box { width: 100% !important; height: 100vh; position: fixed; left: 0; top: 0; z-index: 999; }
.popup-main { height: 100vh; text-align: center; background: rgba(0,0,0,0.5);}
.popup-main:before { height: 100%; display: inline-block; vertical-align: middle; content: '\200B';}
.centered-box { width: auto; display: inline-block; vertical-align: middle;}
.popup-main-box-cont { width: 100%; height: auto; background: #FFF; border-radius: 5px; overflow: hidden; padding: 20px; position: relative; }
.popup-clo-but { width: 14px; height: 14px; position: absolute; right: 20px; top: 20px; cursor: pointer; }
.book-left {}
.book-right { display: none;}
.book-right-detail { display: none;}


.text-field-main { width: 100%; font-size: 15px; text-align: left; color: #555; padding: 8px 0 10px;}
.text-field { width: 100%; height: 36px; font-size: 15px; color: #333; line-height: 30px; text-indent: 0.01px; padding: 0 15px; border-radius: 3px; border:1px solid #CCC; background: #fff;}
.text-field-name { line-height: 33px; color: #555;}
.text-field-name span { font-size: 15px; color: #555; float: right; padding-right: 15px;}

    
    .text-field { width: 100%; height: 32px; font-size: 13px; color: #333; line-height: 30px; text-indent: 0.01px; border:1px solid #ccc; background: #fff; padding: 0 15px; border-radius: 3px;}
    
    
    
    .permission-list ul{ list-style: none;margin: 0; padding: 0;}
    .permission-list li{ display: inline-block; width: 25%; float: left;}
    .permission-select-all {
        background: #4897e6;
    color: #fff;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 10px !important;
    }
    
   .permission-list .radio {padding-left: 0px;}
    
    .dash-rght-box{margin-top: 13px;margin-left: 23px;color: #fff;}
    .dash-rght-invce-box{margin-top: 3px;margin-left: 23px;color: #fff;}
    
    /*.rcnt-actvty-box{ height:342px;overflow:scroll;overflow-x:hidden;}*/
    .rcnt-actvty-box{ height:348px;overflow:hidden;overflow-x:hidden;}
    .rcnt-actvty-box:hover{ height:342px;overflow:scroll;overflow-x:hidden;}
    .dash-graph-box{ height:342px;}
    
    #chart_div{
        width: 98%;
        height: 200px;
    }
    .report-cont-graph {
        border: 2px solid #ececec;
        /*padding-right: 0;*/
    }
    /*Job page*/
    #exTab2 .add-complaint-job{
        font-size: 12px;
        height: 25px;
        margin: 5px;
        padding: 0;
        text-align: center;
        width: 25px;
        background-color: #4eb2d5;
        background-image: linear-gradient(rgba(78, 178, 213, 0), rgba(7, 23, 29, 0.1));
        border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
        color: white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        line-height: 22px;
    }
    #exTab2 .edit-complaint-job{
        font-size: 12px;
        height: 25px;
        margin: 5px;
        padding: 0;
        text-align: center;
        width: 25px;
        background-color: #f5a732;
        background-image: linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
        border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
        color: white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        line-height: 22px;
    }
    #exTab2 .view-complaint-job{
        font-size: 12px;
        height: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 25px;
        background-color: #7eb216;
        background-image: linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
        border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
        color: white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        line-height: 22px;
    }
    .newjobbutton{
    font-size: 13px;
    padding: 4px 10px;
    background-color: #5c9bd1;
    color: white;
    float:right;
    margin:10px;
    line-height: 18px;
    cursor:pointer;
}
.newjobbutton:hover{
    background: #3c87c8;
    color: white;
}
    /*Ends */
    
/*New Job*/
.job-field-wrapper{
    /*padding-top: 130px;*/
}

.text-field-main { width: 100%; padding-bottom: 15px;}
.text-field-main p { color: #555; font-size: 13px; line-height: 20px; padding: 0 0 5px; margin-bottom: 0px;}
.text-field { width: 100%; height: 36px; font-size: 13px; color: #333; line-height: 30px; border-radius: 3px; padding: 0 15px; text-indent: 0.01px; background: #fff; border: 1px solid #eae8e8; box-shadow: 0px 0px 0px;}
.text-field-but { width: 100%; font-family:'Conv_MyriadPro-Regular',Sans-Serif; font-size: 14px; color: #ffe700; font-weight: bold; line-height: 20px; letter-spacing: 0.3px; padding: 12px 0px 7px; text-align: center; text-transform: uppercase; background: #0054a6; border: 0 none; cursor: pointer; display: block; border-radius: 25px;}
.text-field-but:hover { background: #ffe700; color: #0054a6;}
.text-field-main select { width: 100%; height: 36px; font-size: 14px; line-height: 30px; border-radius: 3px; text-indent: 0.01px; padding: 3px 10px; -moz-appearance: none; cursor: pointer; background: #fff url("../images/ash-arrow.png") no-repeat scroll right 13px top 14px;  border: 1px solid #eae8e8;}
.text-field-main select option {
    border: 0 none;
    padding: 5px 15px;
}

.job-field-main { border: 1px solid #e6e4e4; background: #fafafa; padding-top: 30px;}



.time-box { width: 100%; height: 45px; font-size: 14px !important; color: #555; line-height: 30px; text-indent: 0.01px; border: 0 none;  padding: 0px 0px; overflow: hidden; }
.totime { background: url(../images/to.png) no-repeat left top / contain #FFF !important; border-radius: 0px;}
.fromtime { background: url(../images/from.png) no-repeat left top / contain #FFF !important; border-radius: 0px;}

.center-opt select { /*text-align: center !important; text-align-last: center !important;*/ }
.center-opt option { text-align: left;}

.time-box select.totime { padding-right: 0px;  /*text-align: center;*/ padding-left: 25px;}
.time-box select.fromtime { padding-right: 0px; /*text-align: center;*/ padding-left: 25px;}






.job-field-main input[type="checkbox"] { display: none;}
label { cursor: pointer;}
input[type="checkbox"] + label span {width: 25px; height: 25px; border: 1px solid #d2d0d0; margin-top: -3px; vertical-align: middle;  border-radius: 50%;  display: inline-block; background: #fff url("../images/tick-ash-sml.png") no-repeat center center; margin-right: 2px;}
input[type="checkbox"]:checked + label span { background: #fff url("../images/tick-green-sml.png") no-repeat center center; border: 1px solid #3ab54a;}
input[type="checkbox"] + label:hover  span{ border: 1px solid #3ab54a; }




.job-field-main input[type="radio"] { display: none;}
input[type="radio"] + label span {width: 25px; height: 25px; border: 1px solid #d2d0d0; margin-top: -3px; vertical-align: middle;  border-radius: 50%;  display: inline-block; background: #fff url("../images/tick-ash-sml.png") no-repeat center center; margin-right: 2px;}
input[type="radio"]:checked + label span { background: #fff url("../images/tick-green-sml.png") no-repeat center center; border: 1px solid #3ab54a;}
input[type="radio"] + label:hover  span{ border: 1px solid #3ab54a; }


.week-type-box { padding: 0px 0px 21px 0px;}
.week-type-box p { margin: 0 0 9px;}
.newjobbox{height: 85px;
}
/*Ends*/
    
/*-------------------: INVOICE :----------------------*/


.invoice-field-wrapper{padding-top: 130px;}

.invoice-box-main { margin-bottom: 50px; }
.invoice-box-main p { font-size: 13px !important;}

.invoice-box-right { border: 1px solid #e6e4e4; background: #fdfdfd;}
.invoice-box-left { border: 1px solid #e6e4e4; background: #fdfdfd;}
.invoice-logo-box { padding: 30px 0px 10px;}
.invoice-logo { width: 150px;}
.invoice-address-box  {}
.invoice-address p { font-size: 13px; line-height: 20px; text-align: left;}
.invoice-date {}
.invoice-to-address { padding: 20px 0px 0px; border-top: 1px dashed #CCC; margin-top: 20px;}
.invoice-to-address p span { padding-left: 15px; display: block; padding-top: 10px;}


.invoice-job-det { padding: 20px 0px; border-top: 1px dashed #CCC; margin-top: 20px;}
.invoice-job-det p span { padding-left: 15px; display: block; padding-top: 10px;}

.total-text {}




.light-green { background: #cbffd6;}


.invoice-det-table .Cell { padding: 10px 5px 10px 13px;}

.total-box { padding-top: 15px !important; padding-bottom: 15px !important;}




.invoice-det-note { padding: 30px 0px 0px 0px;}


.text-field-big {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dad8d8;
    color: #444;
    font-size: 13px;
    height: 75px;
    line-height: 21px;
    padding: 8px 15px 15px;
    text-indent: 0.01px;
    width: 100%; margin-top: 13px; box-shadow: 0px 0px 0px #FFF;
}




.invoice-button-main { padding-top: 30px;}

.invoice-button { padding-bottom: 30px;}
.invoice-button .text-field-but { display: inline-block; width: 100%; padding: 7px 0px; letter-spacing: 0px;}

.invoice-button .text-field-but.dark { background: #CCC; color: #555; }
.invoice-button .text-field-but.dark:hover { background: #ffe700; color: #0054a6;}



.invoice-left-address { padding: 20px 0px;}



.invoice-left-schedule { padding: 0px 0px;}


.invoice-left-schedule { padding: 20px 0px; border-top: 1px dashed #CCC; margin-top: 20px;}
.invoice-left-schedule p span { padding-left: 15px; display: block; padding-top: 10px;}
    
    
    
    
@media all and (max-width: 1400px) and (min-width: 1201px) {


    .backtotop { position: fixed; right: 0%;}


}
@media all and (max-width: 1200px) and (min-width: 992px) {

    .view-only-1024 { display: block}
    .hide-only-1024 { display: none;}



}
@media all and (max-width: 1024px) and (min-width: 1024px) {

    .backtotop { width: 60px; position: relative; margin: 0 auto; padding-bottom: 0px; right: 0px;}

}

@media all and (max-width: 1200px) and (min-width: 320px)  {

    .pc-menu-view-only{display:none !important;}
    .mob-menu-view-only{display:block !important;}
    .mob-menu-icon { width: 50px; display: block; float: right; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; cursor: pointer; }
    .mob-menu-icon img { width: 100%;}
    .menu { width: 100% !important;overflow: hidden;  display: none;}
    #primary_nav_wrap{  height: 100vh;  /*background: #253532;*/}
    .admin-drp-main #primary_nav_wrap { height: auto;}
    #primary_nav_wrap ul { width: 100%; list-style:none; text-align: left; position:relative; margin:0; padding:0; float: right; }
    #primary_nav_wrap li { width: 100%; float: none; margin-left: 0px; text-align: center;border-top: 1px solid #1968b7;  border-bottom: 1px solid #3584d3;display: table;}
    #primary_nav_wrap li a { display:block; font-family:'Conv_PTS55F',Sans-Serif; font-size: 17px; color: #FFF; line-height: 21px; padding: 15px 25px; text-decoration: none; }
    #primary_nav_wrap li a:hover { color: #555; background: #ffe700;}
    #primary_nav_wrap ul li:hover > ul { display:block;}
    #primary_nav_wrap ul ul { width: 100%; display:none; position: relative; padding:0; /*border-top: 1px solid #364c48;*/}
    #primary_nav_wrap ul ul li {width: 100%; text-align: center; }
    #primary_nav_wrap ul ul li a { font-size: 14px; border: 0px; padding-left: 20px; background: #2776c5; color: #FFF; padding: 15px 25px;}
    #primary_nav_wrap ul ul li a:hover { color: #FFF; background: #4897e6 ;}
    #primary_nav_wrap ul li ul li:first-child { /*border-bottom: 1px solid #364c48;*/ }
    #primary_nav_wrap ul li ul li:last-child { border-top: 0px solid #131c1b; }
    .top-get-quote-but { border: 0 none !important;  padding-top: 30px !important;}
    .top-get-quote-but a {margin: 0 10% 30px;}
    .dash-top-wrapper { padding-top: 160px;}
    #primary_nav_wrap{ width: 104% !important; margin-top: 0px; height: 87vh; overflow-x: hidden; overflow-y: scroll;}
    .admin-drp-main {float: none; width: 100%;}
    .admin-drp-main #primary_nav_wrap { height: auto; overflow: visible; }
    .admin-drp-main  #primary_nav_wrap ul { } 
    .admin-drp-main  #primary_nav_wrap li { display: table; float: left; margin-left: 0; text-align: center; border: 0px; width: 45%; position: relative; }
    .admin-drp-main  #primary_nav_wrap li a {}
    .admin-drp-main  #primary_nav_wrap ul ul { position: absolute; left: 0px; bottom: 0px; width: 100%;} 
    .admin-drp-main  #primary_nav_wrap ul ul li { width: 100%;}
    .admin-drp-main  #primary_nav_wrap ul ul li a { padding: 4px 20px 5px;}

}
@media all and (max-width: 991px) and (min-width: 320px) {

    .pc-view-only{display:none !important;}
    .mob-view-only{display:block !important;}
    .mob-menu-icon { display: block;}
    .mob-menu-icon { width: 50px; display: block; float: right; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; cursor: pointer; }
    /*------: Invoice :-------*/
    .invoice-box-left-main { margin-top: 30px;}
    .invoice-date.no-left-right-padding div.col-md-6.col-sm-12.no-left-padding, .invoice-date.no-left-right-padding div.col-md-6.col-sm-12.no-right-padding { padding-left: 0px !important; padding-right: 0px !important;}
}
@media all and (max-width: 991px) and (min-width: 737px) {
    .view-only-600 { display: block;}
    .hide-only-600 { display: none;}
    header .logo { width: 200px;}
}
@media all and (max-width: 736px) and (min-width: 415px) {

    .view-only-415 { display: block;}
    .hide-only-415 { display: none;}
    #primary_nav_wrap{ width: 104% !important; margin-top: 0px; height: 87vh; overflow-x: hidden; overflow-y: scroll;}
    .admin-drp-main {float: none; width: 100%;}
    .admin-drp-main #primary_nav_wrap { height: auto; overflow: visible; }
    .admin-drp-main  #primary_nav_wrap ul { } 
    .admin-drp-main  #primary_nav_wrap li { display: table; float: left; margin-left: 0; text-align: center; border: 0px; width: 50%; position: relative; }
    .admin-drp-main  #primary_nav_wrap li a {}
    .admin-drp-main  #primary_nav_wrap ul ul { position: absolute; left: 0px; bottom: 0px; width: 100%;}  
    .admin-drp-main  #primary_nav_wrap ul ul li { width: 100%;}
    
    .col-md-3.col-sm-6.invoice-button.no-left-padding, .col-md-3.col-sm-6.invoice-button.no-right-padding, .col-md-6.col-sm-6.invoice-button.no-left-padding { padding-left: 0px !important; padding-right: 0px !important;}


}
@media all and (max-width: 600px) and (min-width: 600px) {


}
@media all and (max-width: 414px) and (min-width: 320px) {

    .view-only-320 { display: block }
    .hide-only-320 { display: none;}
    header .logo { margin-left: 30%; }
    .col-md-3.col-sm-6.invoice-button.no-left-padding, .col-md-3.col-sm-6.invoice-button.no-right-padding, .col-md-6.col-sm-6.invoice-button.no-left-padding { padding-left: 0px !important; padding-right: 0px !important;}
}